Repository logos-co/nomos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zeegomo, @youngjoon-lee, @davidrusu, @danielSanchezQ, @bacv, @ntn-x2, @pradovic

chore: serderop blanket implementation
  consensus/cryptarchia-sync/src/libp2p/packing.rs
  nomos-blend/message/src/crypto/proofs/quota/serde.rs
  nomos-blend/message/src/encap/encapsulated.rs
  nomos-blend/scheduling/src/message_blend/crypto/mod.rs
  nomos-core/chain-defs/src/block/mod.rs
  nomos-core/chain-defs/src/codec/mod.rs
  nomos-core/chain-defs/src/header/mod.rs
  nomos-core/chain-defs/src/mantle/mock.rs
  nomos-core/chain-defs/src/mantle/ops/mod.rs
  nomos-core/chain-defs/src/mantle/tx.rs
  nomos-da/network/messages/src/packing.rs
  nomos-services/chain/chain-service/src/network/adapters/libp2p.rs
  nomos-services/chain/chain-service/src/storage/adapters/storage.rs
  nomos-services/chain/chain-service/src/sync/block_provider.rs
  nomos-services/data-availability/sampling/src/storage/adapters/rocksdb/converter.rs
  nomos-services/storage/src/api/backend/rocksdb/da.rs
  nomos-services/storage/src/api/backend/rocksdb/membership.rs
  nomos-services/storage/src/lib.rs
  nomos-services/tx-service/src/network/adapters/libp2p.rs
  nomos-services/tx-service/src/storage/adapters/rocksdb.rs
  nomos-services/tx-service/tests/mock.rs
Owners: @zeegomo, @youngjoon-lee, @davidrusu, @ntn-x2, @danielSanchezQ, @bacv, @pradovic

it compiles
  nodes/nomos-node/node/src/generic_services/blend.rs
  nomos-services/blend/src/core/mod.rs
  nomos-services/blend/src/edge/mod.rs
  nomos-services/chain/chain-leader/src/blend.rs
  nomos-services/chain/chain-service/src/network/adapters/libp2p.rs
Owners: @youngjoon-lee, @ntn-x2, @danielSanchezQ, @zeegomo

simplify calling syntax
  nomos-services/blend/src/core/mod.rs
  nomos-services/chain/chain-service/src/network/adapters/libp2p.rs
  nomos-services/chain/chain-service/src/sync/block_provider.rs
  nomos-services/storage/src/api/backend/rocksdb/da.rs
  nomos-services/storage/src/lib.rs
  nomos-services/tx-service/src/network/adapters/libp2p.rs
  nomos-services/tx-service/src/storage/adapters/rocksdb.rs
Owners: @youngjoon-lee, @ntn-x2, @danielSanchezQ, @zeegomo

remove <>
  nomos-services/data-availability/sampling/src/storage/adapters/rocksdb/converter.rs
Owners: @danielSanchezQ, @bacv, @pradovic

minor nitpicks
  nomos-services/tx-service/tests/mock.rs
Owners: none

feat(da-network): save peerid -> providerid mappings to da storage
  nomos-services/data-availability/network/src/lib.rs
Owners: @danielSanchezQ, @bacv, @pradovic

feat(da-network): opinion aggregator output sorted bitvectors of providerids
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/network/src/backends/mock/executor.rs
  nomos-services/data-availability/network/src/backends/mod.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/network/src/opinion_aggregator.rs
  nomos-services/data-availability/network/src/storage/mod.rs
Owners: @danielSanchezQ, @bacv, @pradovic

fix errors
  nomos-services/data-availability/network/src/opinion_aggregator.rs
Owners: @danielSanchezQ, @bacv, @pradovic

return empty old opinions on session 1
  nomos-services/data-availability/network/src/opinion_aggregator.rs
Owners: @danielSanchezQ, @bacv, @pradovic

fix typo
  nomos-services/data-availability/network/src/lib.rs
Owners: @danielSanchezQ, @bacv, @pradovic

create empty bitvec shen 0 opinions
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/network/src/opinion_aggregator.rs
Owners: @danielSanchezQ, @bacv, @pradovic

fix comments
  nomos-services/data-availability/network/src/opinion_aggregator.rs
Owners: @danielSanchezQ, @bacv, @pradovic

explicity types when serialization db store methods
  nomos-services/data-availability/network/src/lib.rs
Owners: @danielSanchezQ, @bacv, @pradovic

Update circuits version.
  .github/workflows/code-check.yml
Owners: none

Point setup-circuits to new repo.
  .github/actions/setup-circuits/action.yml
Owners: none

revert toml
  nomos-blend/message/Cargo.toml
Owners: @youngjoon-lee, @ntn-x2, @danielSanchezQ

.github/CODEOWNERS:

# Consensus
/consensus/ @zeegomo @youngjoon-lee @davidrusu
/nomos-services/chain @zeegomo @youngjoon-lee @danielSanchezQ

# Mantle
/ledger/ @zeegomo @danielSanchezQ @davidrusu @bacv

# Blend
/nomos-blend/  @youngjoon-lee @ntn-x2 @danielSanchezQ
/nomos-services/blend @youngjoon-lee @ntn-x2 @danielSanchezQ

# DA
/nomos-services/data-availability @danielSanchezQ @bacv @pradovic
/nomos-da/ @danielSanchezQ @bacv @pradovic

# SDP
/nomos-sdp/ @bacv @pradovic @danielSanchezQ
/nomos-services/sdp @bacv @pradovic @danielSanchezQ
