Repository logos-co/nomos, changes with the owners that .github/CODEOWNERS names for each.
All owners: @zeegomo, @youngjoon-lee, @danielSanchezQ, @ntn-x2, @bacv, @pradovic

.github/CODEOWNERS:

# Consensus
/consensus/ @zeegomo @youngjoon-lee
/nomos-services/chain-service @zeegomo @youngjoon-lee

# Mantle
/ledger/ @zeegomo @danielSanchezQ
/nomos-mantle/ @zeegomo @danielSanchezQ

# Blend
/nomos-blend/  @youngjoon-lee @ntn-x2
/nomos-services/blend @youngjoon-lee @ntn-x2

# DA
/nomos-services/data-availability @danielSanchezQ @bacv
/nomos-da/ @danielSanchezQ @bacv

# SDP
/nomos-sdp/ @bacv @pradovic
/nomos-services/sdp @bacv @pradovic

fix tests
  ledger/nomos-ledger/src/cryptarchia/mod.rs
  ledger/nomos-ledger/src/lib.rs
Owners: @zeegomo, @danielSanchezQ

improve membership construction
  nomos-blend/network/src/tests/mod.rs
  nomos-blend/scheduling/src/membership.rs
  nomos-services/blend/src/settings.rs
Owners: @youngjoon-lee, @ntn-x2

expose Behaviour::set_membership
  nomos-blend/network/src/edge/behaviour.rs
Owners: @youngjoon-lee, @ntn-x2

feat(blend): add BlendEdgeService
  nomos-services/blend/src/edge/backends/libp2p/mod.rs
  nomos-services/blend/src/edge/backends/libp2p/settings.rs
  nomos-services/blend/src/edge/backends/libp2p/swarm.rs
  nomos-services/blend/src/edge/backends/mod.rs
  nomos-services/blend/src/edge/mod.rs
  nomos-services/blend/src/edge/settings.rs
  nomos-services/blend/src/lib.rs
Owners: @youngjoon-lee, @ntn-x2

refactor(blend): separate core/edge service modules
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-node/node/src/generic_services.rs
  nodes/nomos-node/node/src/lib.rs
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/blend/src/core/backends/libp2p/behaviour.rs
  nomos-services/blend/src/core/backends/libp2p/mod.rs
  nomos-services/blend/src/core/backends/libp2p/settings.rs
  nomos-services/blend/src/core/backends/libp2p/swarm.rs
  nomos-services/blend/src/core/backends/mod.rs
  nomos-services/blend/src/core/message.rs
  nomos-services/blend/src/core/mod.rs
  nomos-services/blend/src/core/network/libp2p.rs
  nomos-services/blend/src/core/network/mod.rs
  nomos-services/blend/src/core/settings.rs
  nomos-services/blend/src/edge/settings.rs
  nomos-services/blend/src/lib.rs
  nomos-services/blend/src/message.rs
  nomos-services/chain-service/src/blend/adapters/libp2p.rs
  nomos-services/chain-service/src/blend/mod.rs
  nomos-services/chain-service/src/lib.rs
  nomos-services/chain-service/src/relays.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/blend.rs
Owners: @youngjoon-lee, @ntn-x2, @zeegomo

manage requested_dials to recognize dials that were requested by this behaviour
  nomos-blend/network/src/edge/behaviour.rs
Owners: @youngjoon-lee, @ntn-x2

drop substream if no message to schedule
  nomos-blend/network/src/edge/behaviour.rs
  nomos-blend/network/src/edge/handler/mod.rs
  nomos-blend/network/src/edge/handler/ready_to_send.rs
  nomos-blend/network/src/edge/handler/starting.rs
Owners: @youngjoon-lee, @ntn-x2

Extract assignations
  nomos-da/network/subnetworks-assignations/benches/historic_aware_refill.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/assignations.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/mod.rs
Owners: @danielSanchezQ, @bacv

Implement MembershipHandler for HistoryAware
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/assignations.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/mod.rs
Owners: @danielSanchezQ, @bacv

Implement MembershipCreator for HistoryAware
  nomos-da/network/subnetworks-assignations/Cargo.toml
  nomos-da/network/subnetworks-assignations/src/lib.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/assignations.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/mod.rs
Owners: @danielSanchezQ, @bacv
