Repository logos-co/nomos, pull requests merged in 2023-08, with the labels that each got.

#282 Optional parent committee
  consensus-engine/src/lib.rs
  consensus-engine/src/overlay/flat_overlay.rs
  consensus-engine/src/overlay/mod.rs
  consensus-engine/src/overlay/tree_overlay/overlay.rs
  consensus-engine/src/overlay/tree_overlay/tree.rs
  simulations/src/node/carnot/mod.rs
Labels: overlay

#283 Handle all message types received via gossipsub
  nomos-services/consensus/src/network/adapters/libp2p.rs
Labels: network

#289 Fix: genesis pruning in engine
  consensus-engine/src/lib.rs
Labels: bug, engine

#274 fix large msg sending logic
  consensus-engine/src/overlay/tree_overlay/tree.rs
  nomos-services/consensus/src/lib.rs
  simulations/src/bin/app/main.rs
  simulations/src/network/mod.rs
  simulations/src/network/regions.rs
  simulations/src/node/carnot/message_cache.rs
  simulations/src/node/carnot/mod.rs
Labels: simulation

#293 Disable tree rebuild
  consensus-engine/src/overlay/tree_overlay/overlay.rs
Labels: bug

#294 Test for partial message sending in simulation
  consensus-engine/src/lib.rs
  nomos-services/consensus/src/lib.rs
  simulations/src/network/mod.rs
  simulations/src/node/carnot/event_builder.rs
  simulations/src/node/carnot/mod.rs
  simulations/src/node/carnot/tally.rs
Labels: simulation, test

#300 Parallel node init
  simulations/src/bin/app/main.rs
  simulations/src/network/mod.rs
Labels: simulation

#299 Simulation prune tally
  simulations/src/node/carnot/event_builder.rs
  simulations/src/node/carnot/mod.rs
  simulations/src/node/carnot/tally.rs
Labels: bug, simulation

#298 Sim update overlay
  consensus-engine/src/lib.rs
  consensus-engine/src/overlay/flat_overlay.rs
  consensus-engine/src/overlay/mod.rs
  consensus-engine/src/overlay/tree_overlay/overlay.rs
  simulations/src/node/carnot/mod.rs
Labels: simulation, overlay

#301 Add missing build and test flags
  ci/Jenkinsfile.nightly.integration
Labels: Integration Test, test

#291 Implement research overlay
  consensus-engine/src/overlay/branch_overlay.rs
  consensus-engine/src/overlay/mod.rs
  simulations/src/bin/app/overlay_node.rs
  simulations/src/settings.rs
Labels: simulation

#305 Simulation graceful shutdown fixes
  simulations/src/bin/app/main.rs
  simulations/src/runner/mod.rs
  simulations/src/streaming/io.rs
  simulations/src/streaming/mod.rs
  simulations/src/streaming/naive.rs
  simulations/src/streaming/polars.rs
  simulations/src/streaming/runtime_subscriber.rs
  simulations/src/streaming/settings_subscriber.rs
Labels: bug, simulation

#303 RS encoding/decoding base methods
  Cargo.toml
  nomos-da-core/reed-solomon/Cargo.toml
  nomos-da-core/reed-solomon/src/lib.rs
Labels: rs

#306 Optimize serialization/deserialization for `[u8; 32]`
  nomos-services/consensus/src/lib.rs
  simulations/src/node/carnot/mod.rs
  simulations/src/node/carnot/serde_util.rs
  tests/Cargo.toml
Labels: enhancement

#308 Refactor body type to encapsulate data
  mixnet/client/src/receiver.rs
  mixnet/client/src/sender.rs
  mixnet/node/src/lib.rs
  mixnet/protocol/Cargo.toml
  mixnet/protocol/src/lib.rs
Labels: refactor

#304 Using CSV format by default for simulations
  consensus-engine/src/types/block_id.rs
  consensus-engine/src/types/node_id.rs
  simulations/Cargo.toml
  simulations/config/carnot.json
  simulations/config/carnot_dev.json
  simulations/src/bin/app/main.rs
  simulations/src/bin/app/overlay_node.rs
  simulations/src/node/carnot/mod.rs
  simulations/src/node/carnot/serde_util.rs
  simulations/src/node/carnot/serde_util/csv.rs
  simulations/src/node/carnot/serde_util/json.rs
  simulations/src/node/carnot/state.rs
  simulations/src/node/dummy.rs
  simulations/src/output_processors/mod.rs
  simulations/src/runner/async_runner.rs
  simulations/src/runner/mod.rs
  simulations/src/settings.rs
  simulations/src/streaming/mod.rs
  simulations/src/streaming/naive.rs
  simulations/src/streaming/polars.rs
Labels: simulation

#310 make mixnode listen conns from mixclient
  mixnet/client/src/config.rs
  mixnet/client/src/receiver.rs
  mixnet/node/src/client_notifier.rs
  mixnet/node/src/config.rs
  mixnet/node/src/lib.rs
  mixnet/protocol/src/lib.rs
  tests/src/tests/mixnet.rs
Labels: mixnet

#307 Improved Mixnet design: Random mixnet destination
  Cargo.toml
  mixnet/client/Cargo.toml
  mixnet/client/src/config.rs
  mixnet/client/src/lib.rs
  mixnet/client/src/receiver.rs
  mixnet/client/src/sender.rs
  mixnet/node/Cargo.toml
  mixnet/node/src/client_notifier.rs
  mixnet/node/src/config.rs
  mixnet/node/src/lib.rs
  mixnet/protocol/Cargo.toml
  mixnet/protocol/src/lib.rs
  mixnet/topology/src/lib.rs
  tests/Cargo.toml
  tests/src/tests/mixnet.rs
Labels: mixnet

#315 Pick ports more randomly for integration tests
  tests/src/lib.rs
  tests/src/nodes/nomos.rs
Labels: Integration Test

#317 Add `mixnode` binary
  Cargo.toml
  mixnet/node/src/config.rs
  mixnet/node/src/lib.rs
  nodes/mixnode/Cargo.toml
  nodes/mixnode/config.yaml
  nodes/mixnode/src/main.rs
  tests/src/lib.rs
  tests/src/nodes/mixnode.rs
  tests/src/nodes/mod.rs
  tests/src/tests/happy.rs
  tests/src/tests/unhappy.rs
Labels: mixnet

#325 DA kzg custom blob sizes
  nomos-da-core/kzg/Cargo.toml
  nomos-da-core/kzg/benches/nomos_kzg.rs
  nomos-da-core/kzg/src/dynamic_kzg.rs
  nomos-da-core/kzg/src/lib.rs
  nomos-da-core/kzg/src/types.rs
Labels: refactor, kzg

#309 DA kzg initial approach
  Cargo.toml
  nomos-da-core/kzg/Cargo.toml
  nomos-da-core/kzg/benches/nomos_kzg.rs
  nomos-da-core/kzg/src/dynamic_kzg.rs
  nomos-da-core/kzg/src/lib.rs
  nomos-da-core/kzg/src/types.rs
Labels: kzg

#320 Integrate mixclient run fix
  mixnet/client/Cargo.toml
  mixnet/client/src/config.rs
  mixnet/client/src/lib.rs
  mixnet/client/src/receiver.rs
  mixnet/protocol/src/lib.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p.rs
  tests/Cargo.toml
  tests/src/tests/mixnet.rs
Labels: refactor

#318 Integrate mixnet with libp2p network backend
  mixnet/client/Cargo.toml
  mixnet/client/src/config.rs
  mixnet/client/src/lib.rs
  mixnet/client/src/receiver.rs
  mixnet/protocol/src/lib.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/nodes/nomos.rs
  tests/src/tests/happy.rs
  tests/src/tests/mixnet.rs
  tests/src/tests/unhappy.rs
Labels: mixnet

#321 Fix #312: proper delays
  mixnet/client/src/lib.rs
  mixnet/client/src/sender.rs
  tests/src/tests/mixnet.rs
Labels: mixnet

#336 Fix kzg bench
  nomos-da-core/kzg/benches/nomos_kzg.rs
  nomos-da-core/kzg/src/lib.rs
Labels: bug, kzg, bench

#333 use `get_available_port()` for mixnet integration tests
  tests/src/tests/mixnet.rs
Labels: mixnet

#339 Overwatch mixnet node
  nodes/mixnode/Cargo.toml
  nodes/mixnode/config.yaml
  nodes/mixnode/src/main.rs
  nodes/mixnode/src/services/mixnet.rs
  nodes/mixnode/src/services/mod.rs
Labels: mixnet

#342 Fix tests for the overwatch mixnode
  nodes/mixnode/src/lib.rs
  nodes/mixnode/src/main.rs
  tests/Cargo.toml
  tests/src/nodes/mixnode.rs
  tests/src/nodes/mod.rs
Labels: mixnet

#335 fix panic when corner case happen in RandomDelayIter
  mixnet/client/src/sender.rs
Labels: enhancement, mixnet

#344 Plug mempool to libp2p backend
  nomos-services/mempool/src/network/adapters/libp2p.rs
  nomos-services/network/src/backends/libp2p.rs
Labels: Mempool

#341 Use `log` service for `mixnode` bin
  nodes/mixnode/Cargo.toml
  nodes/mixnode/config.yaml
  nodes/mixnode/src/lib.rs
  nodes/mixnode/src/main.rs
  tests/src/nodes/mixnode.rs
Labels: mixnet

#347 Use `wire` for MixnetMessage in libp2p
  nomos-core/Cargo.toml
  nomos-core/src/tx/mock.rs
  nomos-services/mempool/Cargo.toml
  nomos-services/mempool/src/network/adapters/mock.rs
  nomos-services/mempool/tests/mock.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p.rs
Labels: mixnet

#340 Lock builds per commit and target
  ci/Jenkinsfile.prs.linux
  ci/Jenkinsfile.prs.macos
Labels: ci

#361 Set node_key from cli args
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
Labels: node
