Repository logos-co/nomos, pull requests merged in 2024-08, with the labels that each got.

#685 Da: network replication fix connection
  nodes/nomos-node/src/lib.rs
  nomos-da/network/core/Cargo.toml
  nomos-da/network/core/src/replication/behaviour.rs
  nomos-da/network/core/src/replication/handler.rs
  nomos-da/network/core/src/replication/mod.rs
Labels: network, da

#686 DA: DispersedBlobInfo trait in nomos-core and kzgrs-backend
  nodes/nomos-node/src/api.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-cli/src/api/storage.rs
  nomos-core/src/block/builder.rs
  nomos-core/src/da/attestation/mod.rs
  nomos-core/src/da/blob/info.rs
  nomos-core/src/da/blob/metadata.rs
  nomos-core/src/da/blob/mod.rs
  nomos-core/src/da/blob/select.rs
  nomos-core/src/da/certificate/mock.rs
  nomos-core/src/da/certificate/mod.rs
  nomos-core/src/da/certificate/vid.rs
  nomos-core/src/da/mod.rs
  nomos-da/full-replication/src/attestation.rs
  nomos-da/full-replication/src/lib.rs
  nomos-da/kzgrs-backend/benches/encoder.rs
  nomos-da/kzgrs-backend/benches/verifier.rs
  nomos-da/kzgrs-backend/src/common/attestation.rs
  nomos-da/kzgrs-backend/src/common/mod.rs
  nomos-da/kzgrs-backend/src/dispersal.rs
  nomos-da/kzgrs-backend/src/encoder.rs
  nomos-da/kzgrs-backend/src/verifier.rs
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/api/src/http/mempool.rs
  nomos-services/api/src/http/storage.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/indexer/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/indexer/src/storage/mod.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/data-availability/verifier/src/backend/kzgrs.rs
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/data-availability/verifier/src/storage/adapters/rocksdb.rs
  nomos-services/mempool/src/da/mod.rs
  nomos-services/mempool/src/da/service.rs
  nomos-services/mempool/src/da/verify/fullreplication.rs
  nomos-services/mempool/src/da/verify/kzgrs.rs
  nomos-services/mempool/src/da/verify/mod.rs
  tests/src/nodes/nomos.rs
Labels: da

#676 chore: Da kzgrs unit tests update
  nomos-da/kzgrs/src/common.rs
  nomos-da/kzgrs/src/fk20.rs
Labels: testing, da

#688 Da: Network dispersal
  nomos-da/network/core/Cargo.toml
  nomos-da/network/core/src/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/dispersal/executor/mod.rs
  nomos-da/network/core/src/dispersal/mod.rs
  nomos-da/network/core/src/dispersal/validator/behaviour.rs
  nomos-da/network/core/src/dispersal/validator/mod.rs
  nomos-da/network/core/src/lib.rs
  nomos-da/network/core/src/protocol.rs
  nomos-da/network/core/src/replication/handler.rs
  nomos-da/network/core/src/replication/mod.rs
  nomos-da/network/core/src/test_utils.rs
  nomos-da/network/subnetworks-assignations/src/lib.rs
Labels: network, da

#689 Da: Network sampling
  nomos-da/network/core/src/protocol.rs
  nomos-da/network/core/src/sampling/behaviour.rs
  nomos-da/network/core/src/sampling/mod.rs
Labels: network, da

#690 DA: Dispersal in Cli App with mock backend
  Cargo.toml
  nomos-cli/Cargo.toml
  nomos-cli/src/api/mempool.rs
  nomos-cli/src/cmds/disseminate/mod.rs
  nomos-cli/src/cmds/mod.rs
  nomos-cli/src/da/disseminate.rs
  nomos-cli/src/da/mod.rs
  nomos-cli/src/da/network/adapters/mock.rs
  nomos-cli/src/da/network/adapters/mod.rs
  nomos-cli/src/da/network/mod.rs
  nomos-cli/src/da/retrieve.rs
  nomos-cli/src/lib.rs
  nomos-core/src/da/mod.rs
  nomos-da/kzgrs-backend/src/common/blob.rs
  nomos-da/kzgrs-backend/src/common/mod.rs
  nomos-da/kzgrs-backend/src/dispersal.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/mock/executor.rs
  nomos-services/data-availability/network/src/backends/mock/mod.rs
  nomos-services/data-availability/network/src/backends/mock/validator.rs
  nomos-services/data-availability/network/src/backends/mod.rs
  nomos-services/data-availability/network/src/lib.rs
Labels: network, da

#691 Da: validator network behaviour & swarm
  nomos-da/network/core/Cargo.toml
  nomos-da/network/core/src/behaviour/mod.rs
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/lib.rs
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/executor/mod.rs
  nomos-da/network/core/src/protocols/dispersal/mod.rs
  nomos-da/network/core/src/protocols/dispersal/validator/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/validator/mod.rs
  nomos-da/network/core/src/protocols/mod.rs
  nomos-da/network/core/src/protocols/replication/behaviour.rs
  nomos-da/network/core/src/protocols/replication/handler.rs
  nomos-da/network/core/src/protocols/replication/mod.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-da/network/core/src/swarm/mod.rs
  nomos-da/network/core/src/swarm/validator.rs
Labels: network, da

#693 ColumnIndex in DaBlob
  nomos-cli/src/da/network/adapters/mock.rs
  nomos-da/kzgrs-backend/src/common/blob.rs
  nomos-da/kzgrs-backend/src/common/mod.rs
  nomos-da/kzgrs-backend/src/dispersal.rs
  nomos-da/kzgrs-backend/src/verifier.rs
  nomos-da/network/core/src/protocols/dispersal/mod.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
Labels: da

#694 DA: Store and load multiple columns for the same blob in a single node
  nodes/nomos-node/src/api.rs
  nomos-core/src/da/blob/mod.rs
  nomos-core/src/da/mod.rs
  nomos-da/kzgrs-backend/src/common/blob.rs
  nomos-da/storage/src/fs/mod.rs
  nomos-da/storage/src/rocksdb/mod.rs
  nomos-services/api/src/http/da.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/indexer/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/indexer/src/storage/mod.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/data-availability/verifier/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/verifier/src/storage/mod.rs
  nomos-services/storage/src/backends/mock.rs
  nomos-services/storage/src/backends/mod.rs
  nomos-services/storage/src/backends/rocksdb.rs
  nomos-services/storage/src/backends/sled.rs
  nomos-services/storage/src/lib.rs
Labels: da

#695 Da: network service backend
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/libp2p/mod.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/network/src/backends/mock/executor.rs
  nomos-services/data-availability/network/src/backends/mod.rs
  nomos-services/data-availability/network/src/lib.rs
Labels: network, da

#698 DA: Implement subnetwork handler v1
  nomos-da/network/subnetworks-assignations/Cargo.toml
  nomos-da/network/subnetworks-assignations/src/lib.rs
  nomos-da/network/subnetworks-assignations/src/versions/mod.rs
  nomos-da/network/subnetworks-assignations/src/versions/v1.rs
Labels: network, da

#701 DA: Network service executor
  nomos-cli/Cargo.toml
  nomos-cli/src/cmds/disseminate/mod.rs
  nomos-cli/src/da/disseminate.rs
  nomos-cli/src/da/mod.rs
  nomos-cli/src/da/network/adapters/libp2p.rs
  nomos-cli/src/da/network/adapters/mod.rs
  nomos-cli/src/da/network/backend.rs
  nomos-cli/src/da/network/mod.rs
  nomos-cli/src/da/network/swarm.rs
  nomos-da/network/core/Cargo.toml
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/mod.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/subnetworks-assignations/Cargo.toml
  nomos-da/network/subnetworks-assignations/src/versions/v1.rs
  nomos-libp2p/src/config.rs
  nomos-libp2p/src/lib.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
Labels: da

#703 Da: Network addresses
  nomos-da/network/core/src/address_book.rs
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/lib.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
Labels: network, da

#706 Daniel/sampling service
  nomos-da/network/core/Cargo.toml
  nomos-services/data-availability/sampling/Cargo.toml
  nomos-services/data-availability/sampling/src/backend/kzgrs.rs
  nomos-services/data-availability/sampling/src/backend/mod.rs
  nomos-services/data-availability/sampling/src/backend/sampler.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/libp2p.rs
  nomos-services/data-availability/sampling/src/network/mod.rs
Labels: network

#704 DA Network in node
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-cli/src/da/network/backend.rs
  nomos-da/network/subnetworks-assignations/src/versions/v1.rs
  nomos-libp2p/src/config.rs
  nomos-libp2p/src/lib.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  tests/Cargo.toml
  tests/src/nodes/nomos.rs
Labels: network, da

#710 DA: Sampling service backend fixes
  nomos-services/data-availability/sampling/src/backend/kzgrs.rs
  nomos-services/data-availability/sampling/src/backend/mod.rs
  nomos-services/data-availability/sampling/src/lib.rs
Labels: da

#711 DA: Nomos Cli dispersal tests
  nodes/nomos-node/src/api.rs
  nomos-cli/src/api/mempool.rs
  nomos-cli/src/cmds/disseminate/mod.rs
  nomos-cli/src/da/disseminate.rs
  nomos-cli/src/da/network/backend.rs
  nomos-services/api/src/http/mempool.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/tests/cli.rs
Labels: network, test, da

#713 DA: Verifier and Indexer in Node
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/indexer/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/data-availability/verifier/Cargo.toml
  nomos-services/data-availability/verifier/src/backend/kzgrs.rs
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/data-availability/verifier/src/storage/adapters/rocksdb.rs
  tests/Cargo.toml
  tests/src/nodes/nomos.rs
Labels: node, da
