Repository logos-co/nomos, pull requests merged in 2024-03, with the labels that each got.

#602 CI: Bump rust to 1.76.0
  Dockerfile
  ci/Dockerfile
  shell.nix
  testnet/Dockerfile
Labels: ci

#600 Add orphan leader proofs import
  consensus/cryptarchia-engine/src/ledger.rs
  consensus/cryptarchia-engine/src/lib.rs
Labels: consensus

#587 Libp2p stream read/write
  nomos-libp2p/Cargo.toml
  nomos-libp2p/src/lib.rs
  nomos-services/network/src/backends/libp2p/command.rs
  nomos-services/network/src/backends/libp2p/swarm.rs
  nomos-services/network/src/backends/mixnet/mod.rs
Labels: mixnet

#588 Emitting packets from mixclient using libp2p stream
  mixnet/Cargo.toml
  mixnet/src/address.rs
  mixnet/src/client.rs
  mixnet/src/error.rs
  mixnet/src/lib.rs
  mixnet/src/node.rs
  mixnet/src/packet.rs
  nomos-services/network/src/backends/libp2p/command.rs
  nomos-services/network/src/backends/libp2p/mod.rs
  nomos-services/network/src/backends/libp2p/swarm.rs
  nomos-services/network/src/backends/mixnet/mod.rs
Labels: mixnet

#589 Handle outputs from mixnode using libp2p stream/gossipsub
  mixnet/src/node.rs
  nomos-services/network/src/backends/mixnet/mod.rs
Labels: mixnet

#590 Refactor poisson
  mixnet/src/error.rs
  mixnet/src/poisson.rs
Labels: mixnet

#591 Mix client Poisson emission
  mixnet/Cargo.toml
  mixnet/src/client.rs
  mixnet/src/crypto.rs
  mixnet/src/lib.rs
  mixnet/src/packet.rs
  mixnet/src/topology.rs
Labels: mixnet

#592 Mix node packet handling
  mixnet/src/crypto.rs
  mixnet/src/error.rs
  mixnet/src/fragment.rs
  mixnet/src/lib.rs
  mixnet/src/node.rs
  mixnet/src/packet.rs
  mixnet/src/topology.rs
Labels: mixnet

#593 Mix Packet / Fragment logic
  mixnet/Cargo.toml
  mixnet/src/client.rs
  mixnet/src/error.rs
  mixnet/src/fragment.rs
  mixnet/src/node.rs
  mixnet/src/packet.rs
  nomos-services/network/src/backends/mixnet/mod.rs
Labels: mixnet

#594 Move FisherYates to `nomos-utils`
  consensus/carnot-engine/Cargo.toml
  consensus/carnot-engine/src/overlay/branch_overlay.rs
  consensus/carnot-engine/src/overlay/membership.rs
  consensus/carnot-engine/src/overlay/mod.rs
  consensus/carnot-engine/src/overlay/random_beacon.rs
  consensus/carnot-engine/src/overlay/tree_overlay/overlay.rs
  nomos-utils/Cargo.toml
  nomos-utils/src/fisheryates.rs
  nomos-utils/src/lib.rs
  simulations/Cargo.toml
  simulations/src/bin/app/overlay_node.rs
  simulations/src/overlay/overlay_info.rs
Labels: mixnet

#595 Mixnet topology
  mixnet/Cargo.toml
  mixnet/src/error.rs
  mixnet/src/topology.rs
Labels: mixnet

#596 Mix client/node unit tests
  mixnet/src/client.rs
  mixnet/src/node.rs
Labels: mixnet

#608 Expose 18080 for HTTP API in Testnet
  compose.yml
  testnet/README.md
Labels: testnet

#607 Change multiaddr for QUIC in Testnet configs
  .env.example
  .env.testnet
  compose.static.yml
  compose.yml
  testnet/cli_config.yaml
  testnet/libp2p_config.yaml
  testnet/scripts/run_nomos_node.sh
Labels: mixnet, testnet

#610 Added `mixnet` compilation feature
  .github/workflows/build-test.yml
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/api.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-cli/Cargo.toml
  nomos-cli/src/cmds/chat/mod.rs
  nomos-cli/src/cmds/disseminate/mod.rs
  nomos-cli/src/da/disseminate.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/cl.rs
  nomos-services/api/src/http/consensus.rs
  nomos-services/api/src/http/da.rs
  nomos-services/carnot-consensus/Cargo.toml
  nomos-services/carnot-consensus/src/network/adapters/mod.rs
  nomos-services/carnot-consensus/src/network/adapters/p2p.rs
  nomos-services/data-availability/Cargo.toml
  nomos-services/data-availability/src/network/adapters/mod.rs
  nomos-services/data-availability/src/network/adapters/p2p.rs
  nomos-services/mempool/Cargo.toml
  nomos-services/mempool/src/network/adapters/mod.rs
  nomos-services/mempool/src/network/adapters/p2p.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p/swarm.rs
  nomos-services/network/src/backends/mixnet/mod.rs
  nomos-services/network/src/backends/mod.rs
  tests/Cargo.toml
Labels: mixnet

#614 Refactor libp2p StreamSend command more generic
  mixnet/src/packet.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p/command.rs
  nomos-services/network/src/backends/libp2p/swarm.rs
  nomos-services/network/src/backends/mixnet/mod.rs
Labels: mixnet

#615 Replace mixnet backend with mixnet addon
  .github/workflows/build-test.yml
  mixnet/src/crypto.rs
  mixnet/src/lib.rs
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/api.rs
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-cli/Cargo.toml
  nomos-cli/src/cmds/chat/mod.rs
  nomos-cli/src/cmds/disseminate/mod.rs
  nomos-cli/src/da/disseminate.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/cl.rs
  nomos-services/api/src/http/consensus.rs
  nomos-services/api/src/http/da.rs
  nomos-services/carnot-consensus/Cargo.toml
  nomos-services/carnot-consensus/src/network/adapters/libp2p.rs
  nomos-services/carnot-consensus/src/network/adapters/mod.rs
  nomos-services/data-availability/Cargo.toml
  nomos-services/data-availability/src/network/adapters/libp2p.rs
  nomos-services/data-availability/src/network/adapters/mod.rs
  nomos-services/mempool/Cargo.toml
  nomos-services/mempool/src/network/adapters/libp2p.rs
  nomos-services/mempool/src/network/adapters/mod.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p/config.rs
  nomos-services/network/src/backends/libp2p/mixnet.rs
  nomos-services/network/src/backends/libp2p/mod.rs
  nomos-services/network/src/backends/libp2p/swarm.rs
  nomos-services/network/src/backends/mixnet/mod.rs
  nomos-services/network/src/backends/mod.rs
  tests/Cargo.toml
  tests/src/nodes/nomos.rs
  tests/src/tests/cli.rs
  tests/src/tests/happy.rs
Labels: mixnet

#616 Implement Stream for MixClient
  mixnet/src/client.rs
Labels: mixnet

#585 Use rocksdb as the backend
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/consensus.rs
  nomos-services/api/src/http/storage.rs
Labels: enhancement

#618 Remove unnecessary attributes and add doc comments for Mixnet
  mixnet/src/lib.rs
  mixnet/src/packet.rs
  mixnet/src/poisson.rs
Labels: mixnet

#620 Fix clippy
  nomos-core/src/vote/mock.rs
Labels: enhancement

#577 Fix race for nomos log service
  nomos-services/log/src/lib.rs
Labels: enhancement
