Repository logos-co/nomos, pull requests merged in 2024-09, with the labels that each got.

#718 Add PoL
  .github/workflows/build-test.yml
  Cargo.toml
  cl/cl/Cargo.toml
  cl/cl/src/balance.rs
  cl/cl/src/bundle.rs
  cl/cl/src/error.rs
  cl/cl/src/input.rs
  cl/cl/src/lib.rs
  cl/cl/src/merkle.rs
  cl/cl/src/note.rs
  cl/cl/src/nullifier.rs
  cl/cl/src/output.rs
  cl/cl/src/partial_tx.rs
  cl/cl/tests/simple_transfer.rs
  proof_of_leadership/proof_statements/Cargo.toml
  proof_of_leadership/proof_statements/src/lib.rs
  proof_of_leadership/risc0/.gitignore
  proof_of_leadership/risc0/Cargo.toml
  proof_of_leadership/risc0/prover/Cargo.toml
  proof_of_leadership/risc0/prover/src/lib.rs
  proof_of_leadership/risc0/risc0_proofs/Cargo.toml
  proof_of_leadership/risc0/risc0_proofs/build.rs
  proof_of_leadership/risc0/risc0_proofs/proof_of_leadership/Cargo.toml
  proof_of_leadership/risc0/risc0_proofs/proof_of_leadership/src/main.rs
  proof_of_leadership/risc0/risc0_proofs/src/lib.rs
Labels: consensus

#708 DA: Consensus sampling
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/api.rs
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-core/src/block/builder.rs
  nomos-da/network/subnetworks-assignations/src/versions/v2.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/data-availability/indexer/Cargo.toml
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/sampling/src/backend/kzgrs.rs
  nomos-services/data-availability/sampling/src/backend/mod.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/libp2p.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  tests/Cargo.toml
  tests/src/nodes/nomos.rs
Labels: consensus, da

#725 Trigger sampling in node
  nodes/nomos-node/src/api.rs
  nodes/nomos-node/src/lib.rs
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/api/src/http/mempool.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/mempool/Cargo.toml
  nomos-services/mempool/src/da/service.rs
Labels: Mempool, network, da

#730 DA: Incoming sampling request handling
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/api.rs
  nodes/nomos-node/src/lib.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/api/src/http/mempool.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/sampling/Cargo.toml
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/storage/adapters/mod.rs
  nomos-services/data-availability/sampling/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/sampling/src/storage/mod.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/data-availability/verifier/src/network/adapters/libp2p.rs
  nomos-services/mempool/src/da/service.rs
  tests/src/nodes/nomos.rs
Labels: network, da

#731 DA: Column index in the sample requests
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/messages/proto/sampling.proto
  nomos-da/storage/src/fs/mod.rs
  nomos-services/data-availability/indexer/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/sampling/src/storage/mod.rs
Labels: da

#721 Integrate PoL into consensus
  .github/workflows/build-test.yml
  .github/workflows/codecov.yml
  Cargo.toml
  ledger/cryptarchia-ledger/Cargo.toml
  ledger/cryptarchia-ledger/src/coin.rs
  ledger/cryptarchia-ledger/src/leader_proof.rs
  ledger/cryptarchia-ledger/src/lib.rs
  ledger/cryptarchia-ledger/src/nonce.rs
  ledger/cryptarchia-ledger/src/notetree.rs
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/config.rs
  nomos-core/Cargo.toml
  nomos-core/src/header/cryptarchia.rs
  nomos-core/src/header/mod.rs
  nomos-core/src/staking.rs
  nomos-core/src/wire.rs
  nomos-libp2p/src/lib.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/leadership.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  proof_of_leadership/risc0/prover/Cargo.toml
  tests/Cargo.toml
  tests/src/nodes/nomos.rs
Labels: consensus

#630 Add missing error check: `LedgerError::ParentNotFound`
  nomos-services/cryptarchia-consensus/src/lib.rs
Labels: bug, consensus

#737 DA: Fix compliation errors in KZG backend bench
  nomos-da/kzgrs-backend/benches/verifier.rs
Labels: bug, kzg, bench, da

#733 DA: Integration tests for sampling and dispersal
  nomos-cli/src/da/network/adapters/libp2p.rs
  nomos-cli/src/da/network/backend.rs
  nomos-cli/src/da/network/swarm.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/sampling/src/backend/kzgrs.rs
  nomos-services/data-availability/sampling/src/network/adapters/libp2p.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/lib.rs
  nomos-services/data-availability/tests/src/rng.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  tests/src/lib.rs
  tests/src/nodes/nomos.rs
  tests/src/tests/cli.rs
  tests/src/tests/cryptarchia/happy.rs
Labels: network, da

#765 Mix: NetworkBehaviour
  Cargo.toml
  nomos-mix/message/Cargo.toml
  nomos-mix/message/src/error.rs
  nomos-mix/message/src/lib.rs
  nomos-mix/network/Cargo.toml
  nomos-mix/network/src/behaviour.rs
  nomos-mix/network/src/error.rs
  nomos-mix/network/src/handler.rs
  nomos-mix/network/src/lib.rs
  nomos-mix/queue/Cargo.toml
  nomos-mix/queue/src/lib.rs
Labels: network, mixnet

#764 DA: Replication integration
  nodes/nomos-node/src/api.rs
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/main.rs
  nomos-cli/src/cmds/disseminate/mod.rs
  nomos-cli/src/da/disseminate.rs
  nomos-da/kzgrs-backend/src/dispersal.rs
  nomos-da/kzgrs-backend/src/encoder.rs
  nomos-da/kzgrs-backend/src/global.rs
  nomos-da/kzgrs-backend/src/verifier.rs
  nomos-da/kzgrs/src/global_parameters.rs
  nomos-da/kzgrs/src/lib.rs
  nomos-da/network/core/src/protocols/replication/behaviour.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/sampling/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/data-availability/verifier/src/backend/kzgrs.rs
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/data-availability/verifier/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/verifier/src/storage/mod.rs
  nomos-services/storage/src/backends/rocksdb.rs
  tests/Cargo.toml
  tests/kzgrs/kzgrs_test_params
  tests/src/lib.rs
  tests/src/nodes/nomos.rs
  tests/src/tests/cli.rs
  tests/src/tests/cryptarchia/happy.rs
Labels: network, da

#766 Add executor binary crate
  Cargo.toml
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-executor/src/main.rs
  nodes/nomos-node/src/lib.rs
Labels: node, executor

#767 CI: Nighly tests update and docker build gh workflow
  .github/workflows/build-docker.yml
  Dockerfile
  ci/Dockerfile
  ci/Jenkinsfile.nightly.integration
  testnet/Dockerfile
Labels: testing, ci

#734 Specification related PRs template
  .github/PULL_REQUEST_TEMPLATE/specification.md
Labels: documentation

#770 CI: Jenkins risczero setup
  Dockerfile
  ci/Dockerfile
  ci/Jenkinsfile.nightly.integration
  testnet/Dockerfile
Labels: testing, ci
