Repository logos-co/nomos, pull requests merged in 2024-10, with the labels that each got.

#795 DA: Executor network service
  nomos-cli/src/test_utils.rs
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/test_utils.rs
  nomos-da/network/subnetworks-assignations/src/lib.rs
  nomos-da/network/subnetworks-assignations/src/versions/v1.rs
  nomos-da/network/subnetworks-assignations/src/versions/v2.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/mod.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/libp2p.rs
  nomos-services/data-availability/sampling/src/network/mod.rs
  nomos-services/data-availability/tests/src/common.rs
  tests/src/nodes/nomos.rs
Labels: network, da

#801 DA: Executor http api
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-executor/src/api/backend.rs
  nodes/nomos-executor/src/api/mod.rs
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-executor/src/main.rs
  nodes/nomos-node/src/api/backend.rs
  nodes/nomos-node/src/api/handlers.rs
  nodes/nomos-node/src/api/mod.rs
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  tests/src/nodes/nomos.rs
Labels: node, executor

#797 Testnet: Kzgrs config
  .env.example
  .env.testnet
  Cargo.toml
  compose.static.yml
  compose.yml
  nodes/nomos-node/src/config.rs
  testnet/Dockerfile
  testnet/README.md
  testnet/bootstrap_config.yaml
  testnet/cfgsync.yaml
  testnet/cfgsync/Cargo.toml
  testnet/cfgsync/src/bin/cfgsync-client.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  testnet/cfgsync/src/lib.rs
  testnet/cfgsync/src/repo.rs
  testnet/cli_config.yaml
  testnet/explorer_config.yaml
  testnet/libp2p_config.yaml
  testnet/scripts/consensus_node_list.sh
  testnet/scripts/node_key_from_id.sh
  testnet/scripts/register_node.sh
  testnet/scripts/run_bootstrap_node.sh
  testnet/scripts/run_cfgsync.sh
  testnet/scripts/run_nomos_bot.sh
  testnet/scripts/run_nomos_node.sh
  tests/src/lib.rs
  tests/src/nodes/nomos.rs
  tests/src/tests/cli.rs
  tests/src/tests/cryptarchia/happy.rs
Labels: testnet, da

#803 DA: kzg main testing parallelize proofs checks
  nomos-da/kzgrs/Cargo.toml
  nomos-da/kzgrs/src/kzg.rs
Labels: testing, kzg, da

#804 Testnet: Remove graylog and related containers
  compose.static.yml
  nodes/nomos-node/src/config.rs
  testnet/scripts/run_nomos_node.sh
Labels: testnet

#805 DA: Replication behavior membership test
  nomos-da/network/core/src/protocols/replication/behaviour.rs
Labels: network, test, da

#806 DA: Executor dispersal service
  Cargo.toml
  nomos-core/src/da/mod.rs
  nomos-da/kzgrs-backend/benches/encoder.rs
  nomos-da/kzgrs-backend/src/lib.rs
  nomos-da/network/core/src/lib.rs
  nomos-services/data-availability/dispersal/Cargo.toml
  nomos-services/data-availability/dispersal/src/adapters/mempool/mod.rs
  nomos-services/data-availability/dispersal/src/adapters/mod.rs
  nomos-services/data-availability/dispersal/src/adapters/network/libp2p.rs
  nomos-services/data-availability/dispersal/src/adapters/network/mod.rs
  nomos-services/data-availability/dispersal/src/backend/kzgrs.rs
  nomos-services/data-availability/dispersal/src/backend/mod.rs
  nomos-services/data-availability/dispersal/src/lib.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
Labels: Mempool, network, da

#808 DA: Implement data reconstruction from original columns
  nomos-da/kzgrs-backend/src/lib.rs
  nomos-da/kzgrs-backend/src/reconstruction.rs
Labels: da

#810 Executor: Dispersal service mempool adapter
  nomos-da/kzgrs-backend/src/dispersal.rs
  nomos-services/data-availability/dispersal/Cargo.toml
  nomos-services/data-availability/dispersal/src/adapters/mempool/kzgrs.rs
  nomos-services/data-availability/dispersal/src/adapters/mempool/mod.rs
  nomos-services/data-availability/dispersal/src/backend/kzgrs.rs
  nomos-services/data-availability/dispersal/src/backend/mod.rs
  nomos-services/data-availability/dispersal/src/lib.rs
Labels: da, executor

#812 Executor: Dispersal service in executor node
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-executor/src/main.rs
  nomos-services/data-availability/dispersal/Cargo.toml
  nomos-services/data-availability/dispersal/src/backend/kzgrs.rs
  nomos-services/data-availability/dispersal/src/lib.rs
Labels: node, executor

#813 Ci: kzg bench update
  .github/workflows/build-test.yml
  nomos-da/kzgrs-backend/benches/encoder.rs
  nomos-da/kzgrs-backend/benches/verifier.rs
Labels: bench, ci

#814 Executor: Dispersal http endpoint
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-executor/src/api/backend.rs
  nodes/nomos-executor/src/api/handlers.rs
  nodes/nomos-executor/src/api/mod.rs
  nodes/nomos-executor/src/api/paths.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-node/src/api/backend.rs
  nodes/nomos-node/src/api/handlers.rs
  nodes/nomos-node/src/api/paths.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/da.rs
  nomos-services/data-availability/dispersal/src/lib.rs
  tests/src/nodes/nomos.rs
Labels: executor, http

#815 DA: Executor sampling adapter
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/common.rs
  nomos-services/data-availability/sampling/src/network/adapters/executor.rs
  nomos-services/data-availability/sampling/src/network/adapters/libp2p.rs
  nomos-services/data-availability/sampling/src/network/adapters/mod.rs
  nomos-services/data-availability/sampling/src/network/adapters/validator.rs
  nomos-services/data-availability/tests/src/common.rs
Labels: network, da

#816 Da: Implement verifier adapter for executor network backend
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nomos-services/api/src/http/da.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/verifier/src/network/adapters/common.rs
  nomos-services/data-availability/verifier/src/network/adapters/executor.rs
  nomos-services/data-availability/verifier/src/network/adapters/libp2p.rs
  nomos-services/data-availability/verifier/src/network/adapters/mod.rs
  nomos-services/data-availability/verifier/src/network/adapters/validator.rs
Labels: network, da

#822 Mix: Remove all of the previous mixnet stuff
  .github/workflows/build-test.yml
  Cargo.toml
  mixnet/Cargo.toml
  mixnet/src/address.rs
  mixnet/src/client.rs
  mixnet/src/crypto.rs
  mixnet/src/error.rs
  mixnet/src/fragment.rs
  mixnet/src/lib.rs
  mixnet/src/node.rs
  mixnet/src/packet.rs
  mixnet/src/poisson.rs
  mixnet/src/topology.rs
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/config.yaml
  nodes/nomos-node/src/config.rs
  nomos-libp2p/Cargo.toml
  nomos-libp2p/src/lib.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/lib.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p/command.rs
  nomos-services/network/src/backends/libp2p/config.rs
  nomos-services/network/src/backends/libp2p/mixnet.rs
  nomos-services/network/src/backends/libp2p/mod.rs
  nomos-services/network/src/backends/libp2p/swarm.rs
  tests/Cargo.toml
  tests/src/nodes/nomos.rs
Labels: mixnet

#823 Mix: Add mix service
  Cargo.toml
  nomos-mix/network/src/lib.rs
  nomos-services/mix/Cargo.toml
  nomos-services/mix/src/backends/libp2p.rs
  nomos-services/mix/src/backends/mod.rs
  nomos-services/mix/src/lib.rs
Labels: mixnet

#826 DA: Executor dispersal auto stream
  nomos-cli/src/da/network/swarm.rs
  nomos-da/network/core/Cargo.toml
  nomos-da/network/core/src/behaviour/executor.rs
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/mod.rs
Labels: network, da

#828 Consensus: Remove task from consensus network adapter
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/network/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/network/mod.rs
Labels: refactor, consensus, network

#831 Update Rust to 1.82 in Docker images
  Dockerfile
  ci/Dockerfile
  testnet/Dockerfile
Labels: ci

#830 chore: clippy: remove irrefutable `let...else` patterns in DA
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/validator/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
Labels: da

#829 Mix: Perform broadcasting within the mix service
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/messages.rs
  nomos-services/cryptarchia-consensus/src/mix/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/mix/mod.rs
  nomos-services/cryptarchia-consensus/src/network/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/network/mod.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/mix/Cargo.toml
  nomos-services/mix/src/backends/libp2p.rs
  nomos-services/mix/src/backends/mod.rs
  nomos-services/mix/src/lib.rs
  nomos-services/mix/src/network/libp2p.rs
  nomos-services/mix/src/network/mod.rs
  tests/src/nodes/nomos.rs
Labels: mixnet

#832 Tests: General config and multiple nodes
  testnet/cfgsync/Cargo.toml
  testnet/cfgsync/src/bin/cfgsync-client.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  testnet/cfgsync/src/repo.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/mod.rs
  tests/src/nodes/nomos.rs
  tests/src/nodes/validator.rs
  tests/src/tests/cryptarchia/happy.rs
  tests/src/tests/da.rs
  tests/src/topology/configs/consensus.rs
  tests/src/topology/configs/da.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/configs/network.rs
  tests/src/topology/mod.rs
Labels: test, testnet

#824 Mix: Integrate mix service to the system
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-executor/src/main.rs
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/config.yaml
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-mix/message/src/lib.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/messages.rs
  nomos-services/cryptarchia-consensus/src/mix/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/mix/adapters/mod.rs
  nomos-services/cryptarchia-consensus/src/mix/mod.rs
  nomos-services/cryptarchia-consensus/src/network/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/network/mod.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/mix/Cargo.toml
  nomos-services/mix/src/backends/libp2p.rs
  nomos-services/mix/src/backends/mod.rs
  nomos-services/mix/src/lib.rs
  nomos-services/mix/src/network/libp2p.rs
  nomos-services/mix/src/network/mod.rs
  tests/Cargo.toml
  tests/src/nodes/nomos.rs
Labels: mixnet

#834 Tests executor node mix config
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-executor/src/main.rs
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/config.yaml
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-mix/message/src/lib.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/messages.rs
  nomos-services/cryptarchia-consensus/src/mix/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/mix/adapters/mod.rs
  nomos-services/cryptarchia-consensus/src/mix/mod.rs
  nomos-services/cryptarchia-consensus/src/network/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/network/mod.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/mix/Cargo.toml
  nomos-services/mix/src/backends/libp2p.rs
  nomos-services/mix/src/backends/mod.rs
  nomos-services/mix/src/lib.rs
  nomos-services/mix/src/network/libp2p.rs
  nomos-services/mix/src/network/mod.rs
  testnet/cfgsync/src/config.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/da.rs
  tests/src/topology/configs/mix.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/mod.rs
Labels: test, testnet, da

#818 DA: Use executor in tests
  clients/executor-http-client/src/lib.rs
  nodes/nomos-executor/src/lib.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-services/data-availability/dispersal/src/backend/mod.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  testnet/cfgsync/Cargo.toml
  testnet/cfgsync/src/bin/cfgsync-client.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  testnet/cfgsync/src/repo.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/mod.rs
  tests/src/nodes/nomos.rs
  tests/src/nodes/validator.rs
  tests/src/tests/cli.rs
  tests/src/tests/cryptarchia/happy.rs
  tests/src/tests/da.rs
  tests/src/topology/configs/consensus.rs
  tests/src/topology/configs/da.rs
  tests/src/topology/configs/mix.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/configs/network.rs
  tests/src/topology/mod.rs
Labels: test, da

#839 Testnet: Executor configuration
  compose.static.yml
  testnet/Dockerfile
  testnet/cfgsync/src/config.rs
  testnet/scripts/run_nomos_executor.sh
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/api.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/mod.rs
Labels: testnet

#838 Fix: membership comments to documentation
  nomos-da/network/subnetworks-assignations/src/lib.rs
Labels: documentation

#842 Chore: Use tokio 1 in deps
  nodes/nomos-node/Cargo.toml
  nomos-da/network/core/Cargo.toml
  nomos-da/network/messages/Cargo.toml
  nomos-mix/network/Cargo.toml
  nomos-services/api/Cargo.toml
  nomos-services/data-availability/dispersal/Cargo.toml
  nomos-services/system-sig/Cargo.toml
  testnet/cfgsync/Cargo.toml
Labels: dependencies

#841 Mix: Forward all incoming messages immediately without any processing
  nomos-mix/network/src/behaviour.rs
Labels: mixnet

#852 DA: Reconstruct data from incomplete blobs
  tests/src/tests/da.rs
Labels: test, da

#843 Mix: Offload transmission rate and message processing from libp2p behaviour/handler
  nodes/nomos-node/src/config.rs
  nomos-mix/message/src/lib.rs
  nomos-mix/network/src/behaviour.rs
  nomos-mix/network/src/handler.rs
  nomos-mix/network/src/lib.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/mix/src/backends/libp2p.rs
  nomos-services/mix/src/backends/mod.rs
  nomos-services/mix/src/lib.rs
  tests/src/topology/configs/mix.rs
Labels: mixnet

#851 Cli: Dissemination and retrieval
  clients/executor-http-client/Cargo.toml
  clients/executor-http-client/src/lib.rs
  nodes/nomos-node/src/api/handlers.rs
  nomos-cli/Cargo.toml
  nomos-cli/config.yaml
  nomos-cli/src/api/consensus.rs
  nomos-cli/src/api/da.rs
  nomos-cli/src/api/mempool.rs
  nomos-cli/src/api/mod.rs
  nomos-cli/src/api/storage.rs
  nomos-cli/src/cmds/chat/mod.rs
  nomos-cli/src/cmds/chat/ui.rs
  nomos-cli/src/cmds/disseminate/mod.rs
  nomos-cli/src/cmds/executor.rs
  nomos-cli/src/cmds/mod.rs
  nomos-cli/src/cmds/validator.rs
  nomos-cli/src/da/disseminate.rs
  nomos-cli/src/da/mod.rs
  nomos-cli/src/da/network/adapters/libp2p.rs
  nomos-cli/src/da/network/adapters/mock.rs
  nomos-cli/src/da/network/adapters/mod.rs
  nomos-cli/src/da/network/backend.rs
  nomos-cli/src/da/network/mod.rs
  nomos-cli/src/da/network/swarm.rs
  nomos-cli/src/da/retrieve.rs
  nomos-cli/src/lib.rs
  nomos-cli/src/test_utils.rs
  nomos-da/kzgrs-backend/src/dispersal.rs
Labels: client

#849 Nomos tracing crate
  Cargo.toml
  compose.static.yml
  nodes/nomos-executor/src/config.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-executor/src/main.rs
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/src/config.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/mempool/Cargo.toml
  nomos-services/mempool/tests/mock.rs
  nomos-services/tracing/Cargo.toml
  nomos-services/tracing/src/lib.rs
  nomos-tracing/Cargo.toml
  nomos-tracing/src/lib.rs
  nomos-tracing/src/logging/gelf.rs
  nomos-tracing/src/logging/local.rs
  nomos-tracing/src/logging/loki.rs
  nomos-tracing/src/logging/mod.rs
  nomos-tracing/src/tracing/mod.rs
  nomos-tracing/src/tracing/otlp.rs
  testnet/cfgsync.yaml
  testnet/cfgsync/Cargo.toml
  testnet/cfgsync/src/bin/cfgsync-client.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  testnet/cfgsync/src/lib.rs
  testnet/cfgsync/src/repo.rs
  testnet/monitoring/tempo.yaml
  tests/Cargo.toml
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/configs/tracing.rs
  tests/src/topology/mod.rs
Labels: testnet

#845 Mix: Implement Persistent Transmission (Tier 1)
  nomos-mix/core/Cargo.toml
  nomos-mix/core/src/persistent_transmission.rs
Labels: mixnet

#856 CI: Ignore reconstruction test
  tests/src/tests/da.rs
Labels: test, da

#846 Mix: Implement Temporal Processor (Tier 2)
  nomos-mix/core/src/message_blend/crypto.rs
  nomos-mix/core/src/message_blend/temporal.rs
Labels: mixnet

#847 Mix: Use TemporalProcessor in MessageBlend
  nomos-mix/core/src/message_blend/mod.rs
  nomos-mix/core/src/message_blend/temporal.rs
Labels: mixnet

#854 Cli: Deserialization and runtime fixes
  nomos-cli/src/cmds/executor.rs
  nomos-cli/src/cmds/validator.rs
  testnet/scripts/run_nomos_executor.sh
  testnet/scripts/run_nomos_node.sh
  tests/src/tests/da.rs
Labels: testnet, da, client

#860 Mix: Persistent rate as stream + Extension
  nomos-mix/core/Cargo.toml
  nomos-mix/core/src/persistent_transmission.rs
Labels: refactor, mixnet

#861 Mix: temporal as stream extension
  nomos-mix/core/src/message_blend/temporal.rs
Labels: mixnet

#859 Mix: Packet algorithms
  nomos-mix/message/Cargo.toml
  nomos-mix/message/src/error.rs
  nomos-mix/message/src/lib.rs
  nomos-mix/message/src/packet.rs
Labels: mixnet

#850 [CL-1] Add proofs to CL txs
  ledger/nomos-ledger/src/lib.rs
  nodes/nomos-node/src/config.rs
  nomos-core/chain-defs/src/lib.rs
  nomos-core/chain-defs/src/proofs/balance.rs
  nomos-core/chain-defs/src/proofs/covenant.rs
  nomos-core/chain-defs/src/proofs/mod.rs
  nomos-core/chain-defs/src/proofs/ptx.rs
  nomos-core/chain-defs/src/tx/bundle.rs
  nomos-core/chain-defs/src/tx/mod.rs
  nomos-core/cl/src/bundle.rs
  nomos-core/cl/src/input.rs
  nomos-core/cl/src/lib.rs
  nomos-core/cl/src/note.rs
  nomos-core/cl/src/nullifier.rs
  nomos-core/cl/src/partial_tx.rs
  nomos-core/cl/tests/simple_transfer.rs
  nomos-core/proof_statements/src/ptx.rs
  nomos-core/risc0_proofs/Cargo.toml
  nomos-core/risc0_proofs/bundle_balance/Cargo.toml
  nomos-core/risc0_proofs/bundle_balance/src/main.rs
  nomos-core/risc0_proofs/ptx/src/main.rs
  nomos-services/cryptarchia-consensus/src/leadership.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  proof_of_leadership/proof_statements/src/lib.rs
  proof_of_leadership/risc0/prover/src/lib.rs
  proof_of_leadership/risc0/risc0_proofs/proof_of_leadership/src/main.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/consensus.rs
Labels: refactor, node, cl

#837 [CL-2] Move POL into nomos-core
  Cargo.toml
  ledger/nomos-ledger/Cargo.toml
  ledger/nomos-ledger/src/leader_proof.rs
  ledger/nomos-ledger/src/lib.rs
  nomos-core/chain-defs/Cargo.toml
  nomos-core/chain-defs/src/header/mod.rs
  nomos-core/chain-defs/src/proofs/balance.rs
  nomos-core/chain-defs/src/proofs/covenant.rs
  nomos-core/chain-defs/src/proofs/leader_proof.rs
  nomos-core/chain-defs/src/proofs/mod.rs
  nomos-core/chain-defs/src/proofs/ptx.rs
  nomos-core/proof_statements/Cargo.toml
  nomos-core/proof_statements/src/leadership.rs
  nomos-core/proof_statements/src/lib.rs
  nomos-core/risc0_proofs/Cargo.toml
  nomos-core/risc0_proofs/proof_of_leadership/Cargo.toml
  nomos-core/risc0_proofs/proof_of_leadership/src/main.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/leadership.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  proof_of_leadership/proof_statements/Cargo.toml
  proof_of_leadership/risc0/.gitignore
  proof_of_leadership/risc0/Cargo.toml
  proof_of_leadership/risc0/prover/Cargo.toml
  proof_of_leadership/risc0/risc0_proofs/Cargo.toml
  proof_of_leadership/risc0/risc0_proofs/build.rs
  proof_of_leadership/risc0/risc0_proofs/src/lib.rs
Labels: node, pol

#864 Mix: Implement blend as stream + extension
  nomos-mix/core/Cargo.toml
  nomos-mix/core/src/message_blend/crypto.rs
  nomos-mix/core/src/message_blend/mod.rs
  nomos-mix/core/src/message_blend/temporal.rs
Labels: refactor, mixnet
