Repository logos-co/nomos, pull requests merged in 2024-02, with the labels that each got.

#581 Fix integration tests for QUIC environment
  tests/src/lib.rs
  tests/src/nodes/nomos.rs
  tests/src/tests/cli.rs
Labels: test, mixnet

#580 Use QUIC for libp2p
  nomos-libp2p/Cargo.toml
  nomos-libp2p/src/lib.rs
  nomos-services/network/src/backends/libp2p/swarm.rs
  tests/src/lib.rs
  tests/src/nodes/nomos.rs
  tests/src/tests/cli.rs
Labels: mixnet

#575 Add Poisson interval function for Mixnet
  Cargo.toml
  mixnet/Cargo.toml
  mixnet/src/lib.rs
  mixnet/src/poisson.rs
Labels: mixnet

#584 RocksDB Storage service
  nomos-services/storage/Cargo.toml
  nomos-services/storage/src/backends/mod.rs
  nomos-services/storage/src/backends/rocksdb.rs
  nomos-services/storage/src/bin/rocks.rs
Labels: enhancement

#583 Cryptarchia engine
  Cargo.toml
  consensus/cryptarchia-engine/Cargo.toml
  consensus/cryptarchia-engine/src/block.rs
  consensus/cryptarchia-engine/src/config.rs
  consensus/cryptarchia-engine/src/crypto.rs
  consensus/cryptarchia-engine/src/leader_proof.rs
  consensus/cryptarchia-engine/src/ledger.rs
  consensus/cryptarchia-engine/src/lib.rs
  consensus/cryptarchia-engine/src/time.rs
Labels: consensus
