Repository logos-co/nomos, pull requests merged in 2025-04, with the labels that each got.

#1208 fix(config): Config duration format
  nodes/nomos-node/config.yaml
  testnet/cfgsync.yaml
  testnet/cfgsync/Cargo.toml
  testnet/cfgsync/src/lib.rs
  testnet/cfgsync/src/server.rs
Labels: testnet

#1200 feature(sdp): Protocol definitions and state transitions
  Cargo.toml
  dependencies_graph.dot
  nomos-sdp/Cargo.toml
  nomos-sdp/src/lib.rs
  nomos-sdp/src/state.rs
Labels: sdp

#1222 fix(DA): Pass share verification domain size from the configuration in verifier
  nomos-services/data-availability/verifier/src/backend/kzgrs.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/tests/da/disperse.rs
  tests/src/topology/mod.rs
Labels: test, testing, da

#1201 feature(sdp): Sdp ledger without grabage collection
  nomos-sdp/Cargo.toml
  nomos-sdp/src/ledger.rs
  nomos-sdp/src/lib.rs
Labels: sdp

#1232 PoC(sync): finish some todos
  consensus/cryptarchia-sync/network/src/behaviour.rs
  consensus/cryptarchia-sync/network/src/membership.rs
  consensus/cryptarchia-sync/network/src/sync_outgoing.rs
  nomos-core/chain-defs/src/block/mod.rs
  nomos-core/chain-defs/src/header/mod.rs
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/validator/behaviour.rs
  nomos-da/network/core/src/protocols/replication/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/messages/src/lib.rs
  nomos-da/network/messages/src/packing.rs
  nomos-libp2p/src/lib.rs
Labels: sync

#1230 PoC(sync): end-to-end test
  consensus/cryptarchia-sync/core/src/lib.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  tests/src/common/cryptarchia.rs
  tests/src/common/mod.rs
  tests/src/tests/cryptarchia/happy.rs
  tests/src/tests/cryptarchia/sync/sync.rs
  tests/src/tests/cryptarchia/sync/sync_e2e.rs
  tests/src/topology/mod.rs
Labels: sync

#1260 fix(network): Allow receiving self messages
  nomos-libp2p/src/config.rs
Labels: bug

#1234 poc(recovery): Recovery integrity and improvements
  consensus/cryptarchia-engine/src/lib.rs
  ledger/nomos-ledger/src/lib.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/states.rs
Labels: node
