Repository logos-co/nomos, pull requests merged in 2025-10, with the labels that each got.

#1724 feat(da-network): historic sampling opinions
  nomos-da/network/core/src/protocols/sampling/errors.rs
  nomos-da/network/core/src/protocols/sampling/historic/mod.rs
  nomos-da/network/core/src/protocols/sampling/historic/request_behaviour.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-da/network/core/src/protocols/sampling/opinions.rs
  nomos-da/network/core/src/protocols/sampling/requests/request_behaviour.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
Labels: feature, da-network

#1736 feat(da-network): opinion aggregation
  nomos-core/chain-defs/src/sdp/mod.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/network/src/backends/mock/executor.rs
  nomos-services/data-availability/network/src/backends/mod.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/network/src/opinion_aggregator.rs
  nomos-services/data-availability/network/src/storage/mod.rs
Labels: feature, da-network

#1788 chore(codeowners): Add third codeowner to avoid pr locking
  .github/CODEOWNERS
Labels: chore, codeowners

#1778 feat(blend): pre-compute winning PoL info in chain-leader and share it with Blend
  consensus/cryptarchia-engine/src/time.rs
  nodes/nomos-node/node/src/generic_services/blend.rs
  nomos-core/chain-defs/src/proofs/leader_proof.rs
  nomos-services/blend/src/core/mod.rs
  nomos-services/blend/src/epoch_info.rs
  nomos-services/chain/chain-leader/Cargo.toml
  nomos-services/chain/chain-leader/src/leadership.rs
  nomos-services/chain/chain-leader/src/lib.rs
Labels: blend, feature

#1766 feat(zk): Mantle keys sign & verify
  nomos-core/chain-defs/Cargo.toml
  nomos-core/chain-defs/src/mantle/keys.rs
  nomos-services/key-management-system/src/keys/errors.rs
  nomos-services/key-management-system/src/keys/zk.rs
  zk/proofs/zksign/src/public.rs
Labels: feature, zk

#1781 feat(da-network): save peer id -> provider id mappings to da storage
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/network/src/membership/adapters/service.rs
  nomos-services/data-availability/network/src/membership/mod.rs
  nomos-services/data-availability/network/src/storage/adapters/mock.rs
  nomos-services/data-availability/network/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/network/src/storage/mod.rs
  nomos-services/storage/src/api/backend/rocksdb/da.rs
  nomos-services/storage/src/api/da/mod.rs
  nomos-services/storage/src/api/da/requests.rs
  nomos-services/storage/src/backends/mock.rs
  nomos-services/storage/src/backends/mod.rs
  nomos-services/storage/src/backends/rocksdb.rs
Labels: feature, da-network
