Repository logos-co/nomos, pull requests merged in 2025-06, with the labels that each got.

#1314 fix(ci): Toolchain version issue
  .github/workflows/code-check.yml
Labels: ci

#1313 fix(ci): Make cache keys independent between runners' OSs.
  .github/workflows/code-check.yml
Labels: ci

#1272 feature(lifecycles): Integrate Overwatch's lifecycle changes
  Cargo.toml
  dependencies_graph.dot
  nodes/nomos-executor/executor/Cargo.toml
  nodes/nomos-executor/executor/src/main.rs
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/main.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/storage/adapters/rocksdb.rs
  nomos-services/api/src/lib.rs
  nomos-services/api/tests/todo.rs
  nomos-services/blend/Cargo.toml
  nomos-services/blend/src/lib.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/relays.rs
  nomos-services/data-availability/dispersal/src/lib.rs
  nomos-services/data-availability/indexer/Cargo.toml
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/sampling/Cargo.toml
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/verifier/Cargo.toml
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/key-management-system/Cargo.toml
  nomos-services/key-management-system/src/lib.rs
  nomos-services/membership/Cargo.toml
  nomos-services/membership/src/lib.rs
  nomos-services/mempool/src/da/service.rs
  nomos-services/mempool/src/tx/service.rs
  nomos-services/mempool/tests/mock.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/lib.rs
  nomos-services/sdp/Cargo.toml
  nomos-services/sdp/src/lib.rs
  nomos-services/storage/Cargo.toml
  nomos-services/storage/src/lib.rs
  nomos-services/system-sig/Cargo.toml
  nomos-services/system-sig/src/lib.rs
  nomos-services/time/Cargo.toml
  nomos-services/time/src/lib.rs
  nomos-services/tracing/Cargo.toml
  nomos-services/tracing/src/lib.rs
  nomos-services/utils/Cargo.toml
  nomos-services/utils/src/overwatch/lifecycle.rs
  nomos-services/utils/src/overwatch/mod.rs
  nomos-services/utils/src/overwatch/recovery/mod.rs
Labels: enhancement

#1321 feature(services): Notify ready
  Cargo.toml
  nomos-services/api/Cargo.toml
  nomos-services/api/src/lib.rs
  nomos-services/blend/src/lib.rs
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/data-availability/dispersal/src/lib.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/key-management-system/Cargo.toml
  nomos-services/key-management-system/src/lib.rs
  nomos-services/membership/src/lib.rs
  nomos-services/mempool/src/da/service.rs
  nomos-services/mempool/src/tx/service.rs
  nomos-services/network/src/lib.rs
  nomos-services/sdp/src/lib.rs
  nomos-services/storage/src/lib.rs
  nomos-services/system-sig/Cargo.toml
  nomos-services/system-sig/src/lib.rs
  nomos-services/time/Cargo.toml
  nomos-services/time/src/lib.rs
  nomos-services/tracing/src/lib.rs
  nomos-services/utils/src/overwatch/recovery/mod.rs
Labels: enhancement

#1310 feature(mantle): Mantle core crate structure
  Cargo.toml
  dependencies_graph.dot
  nomos-mantle/Cargo.toml
  nomos-mantle/src/gas.rs
  nomos-mantle/src/lib.rs
  nomos-mantle/src/ops/blob.rs
  nomos-mantle/src/ops/channel_keys.rs
  nomos-mantle/src/ops/inscribe.rs
  nomos-mantle/src/ops/leader_claim.rs
  nomos-mantle/src/ops/mod.rs
  nomos-mantle/src/ops/native.rs
  nomos-mantle/src/ops/opcode.rs
  nomos-mantle/src/ops/sdp.rs
  nomos-mantle/src/ops/serde_.rs
  nomos-mantle/src/tx.rs
  nomos-sdp/Cargo.toml
  nomos-sdp/src/ledger.rs
  nomos-sdp/src/lib.rs
  nomos-services/mempool/tests/mock.rs
Labels: mantle

#1349 chore(dependencies): Update overwatch
  Cargo.toml
  nodes/nomos-executor/executor/src/main.rs
  nodes/nomos-node/node/src/main.rs
  nomos-services/api/tests/todo.rs
  nomos-services/mempool/tests/mock.rs
  nomos-services/system-sig/src/lib.rs
  nomos-services/utils/src/overwatch/recovery/mod.rs
  nomos-services/utils/src/overwatch/status/macros.rs
Labels: dependencies, chore

#1346 feat: Cryptarchia bootsrapping networking
  Cargo.toml
  consensus/cryptarchia-sync/Cargo.toml
  consensus/cryptarchia-sync/src/behaviour.rs
  consensus/cryptarchia-sync/src/downloader.rs
  consensus/cryptarchia-sync/src/errors.rs
  consensus/cryptarchia-sync/src/lib.rs
  consensus/cryptarchia-sync/src/messages.rs
  consensus/cryptarchia-sync/src/packing.rs
  consensus/cryptarchia-sync/src/provider.rs
  consensus/cryptarchia-sync/src/utils.rs
  dependencies_graph.dot
Labels: sync

#1363 chore(dependencies): Update overwatch
  Cargo.toml
  nodes/nomos-executor/executor/src/main.rs
  nodes/nomos-node/node/src/main.rs
  nomos-services/api/tests/todo.rs
  nomos-services/mempool/tests/mock.rs
  nomos-services/utils/src/overwatch/recovery/mod.rs
Labels: dependencies, chore

#1373 fix(test): Fix wait_until_services_are_ready flakyness.
  nomos-services/utils/src/overwatch/status/macros.rs
Labels: test, fix

#1362 feat(sync): integrate cryptarchia-sync to nomos-libp2p
  consensus/cryptarchia-sync/src/behaviour.rs
  consensus/cryptarchia-sync/src/lib.rs
  dependencies_graph.dot
  nomos-libp2p/Cargo.toml
  nomos-libp2p/src/behaviour/chainsync/mod.rs
  nomos-libp2p/src/behaviour/chainsync/swarm_ext.rs
  nomos-libp2p/src/behaviour/mod.rs
  nomos-libp2p/src/lib.rs
Labels: sync, feature

#1366 feat(sync): Integrate chain sync events/commands to network service
  consensus/cryptarchia-sync/src/behaviour.rs
  consensus/cryptarchia-sync/src/errors.rs
  nomos-services/cryptarchia-consensus/src/network/adapters/libp2p.rs
  nomos-services/mempool/src/network/adapters/libp2p.rs
  nomos-services/mempool/src/network/adapters/mock.rs
  nomos-services/network/src/backends/libp2p/command.rs
  nomos-services/network/src/backends/libp2p/mod.rs
  nomos-services/network/src/backends/libp2p/swarm/chainsync.rs
  nomos-services/network/src/backends/libp2p/swarm/gossipsub.rs
  nomos-services/network/src/backends/libp2p/swarm/mod.rs
  nomos-services/network/src/backends/mock.rs
  nomos-services/network/src/backends/mod.rs
  nomos-services/network/src/lib.rs
  nomos-services/network/src/message.rs
Labels: sync, feature

#1382 fix(blend): Global observation window rounds
  nomos-blend/network/src/conn_maintenance.rs
  nomos-blend/network/src/handler.rs
  nomos-blend/network/src/tokio.rs
Labels: blend, fix

#1339 feat(sync): bootstrapping block fetching logic
  consensus/cryptarchia-sync/src/behaviour.rs
  consensus/cryptarchia-sync/src/downloader.rs
  consensus/cryptarchia-sync/src/lib.rs
  nomos-libp2p/src/behaviour/chainsync/swarm_ext.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/network/adapters/libp2p.rs
  nomos-services/cryptarchia-consensus/src/network/mod.rs
  nomos-services/cryptarchia-consensus/src/relays.rs
  nomos-services/cryptarchia-consensus/src/sync/block_provider.rs
  nomos-services/cryptarchia-consensus/src/sync/mod.rs
  nomos-services/network/src/backends/libp2p/swarm/chainsync.rs
Labels: sync, feature

#1395 fix(cryptarchia): Fix misbehaviour due to pruning condition and flaky `two_nodes_happy` test.
  consensus/cryptarchia-engine/src/lib.rs
  nomos-services/cryptarchia-consensus/src/states.rs
  nomos-services/network/src/backends/libp2p/swarm/gossipsub.rs
  tests/src/tests/cryptarchia/happy.rs
Labels: consensus, fix, cryptarchia

#1401 chore(ci): two_nodes_happy is not ignored anymore
  .github/workflows/code-check.yml
Labels: ci, chore

#1406 feat(blend): use fork stream instead of custom spawnable solution
  nomos-blend/scheduling/Cargo.toml
  nomos-blend/scheduling/src/message_scheduler/mod.rs
  nomos-blend/scheduling/src/message_scheduler/tests.rs
  nomos-blend/scheduling/src/message_scheduler/utils.rs
  nomos-utils/Cargo.toml
  nomos-utils/src/lib.rs
  nomos-utils/src/stream.rs
Labels: blend, feature

#1377 feat(node): Role based service selection
  nodes/nomos-node/node/src/config/mod.rs
  nodes/nomos-node/node/src/config/tests.rs
  nodes/nomos-node/node/src/lib.rs
  nodes/nomos-node/node/src/main.rs
Labels: node, feature
