Repository logos-co/nomos, pull requests merged in 2025-07, with the labels that each got.

#1400 chore(membership): integration tests update membership and dissiminate
  nomos-da/network/subnetworks-assignations/src/lib.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/network/src/storage/mod.rs
  tests/Cargo.toml
  tests/src/tests/membership/disperse.rs
  tests/src/topology/configs/membership.rs
  tests/src/topology/mod.rs
Labels: chore, membership

#1418 feat(blend): add support for session clock in blend swarm
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-node/node/src/lib.rs
  nomos-services/blend/src/backends/libp2p/mod.rs
  nomos-services/blend/src/backends/libp2p/swarm.rs
  nomos-services/blend/src/backends/mod.rs
  nomos-services/blend/src/lib.rs
  nomos-services/blend/src/settings.rs
  nomos-services/chain-service/src/blend/adapters/libp2p.rs
  nomos-services/chain-service/src/blend/mod.rs
  nomos-services/chain-service/src/lib.rs
  nomos-services/chain-service/src/relays.rs
Labels: blend, feature

#1412 refactor(ledger): Restructure ledger for mantle ops
  ledger/nomos-ledger/Cargo.toml
  ledger/nomos-ledger/src/cryptarchia/mod.rs
  ledger/nomos-ledger/src/cryptarchia/utxotree.rs
  ledger/nomos-ledger/src/crypto.rs
  ledger/nomos-ledger/src/lib.rs
  ledger/nomos-ledger/src/mantle/mod.rs
  nodes/nomos-executor/config.yaml
  nodes/nomos-node/config.yaml
Labels: refactor, ledger

#1430 feat(da): Sampling behaviour holds temporal connections
  nodes/nomos-executor/config.yaml
  nodes/nomos-executor/executor/Cargo.toml
  nodes/nomos-executor/executor/src/api/backend.rs
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-node/config.yaml
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/api/backend.rs
  nodes/nomos-node/node/src/api/handlers.rs
  nodes/nomos-node/node/src/generic_services.rs
  nodes/nomos-node/node/src/lib.rs
  nomos-da/network/core/src/behaviour/executor.rs
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/lib.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-da/network/core/src/test_utils.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/api/src/http/mempool.rs
  nomos-services/chain-service/Cargo.toml
  nomos-services/chain-service/src/lib.rs
  nomos-services/chain-service/src/relays.rs
  nomos-services/data-availability/dispersal/src/adapters/mempool/kzgrs.rs
  nomos-services/data-availability/dispersal/src/adapters/network/libp2p.rs
  nomos-services/data-availability/indexer/Cargo.toml
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/sampling/src/backend/kzgrs.rs
  nomos-services/data-availability/sampling/src/backend/mod.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/common.rs
  nomos-services/data-availability/sampling/src/network/mod.rs
  nomos-services/mempool/src/da/service.rs
  testnet/cfgsync/src/config.rs
  testnet/cfgsync/src/server.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/da.rs
Labels: da, feature, da-network

#1434 chore(rand): Refactor fisher yates to be generic over rng
  nomos-utils/Cargo.toml
  nomos-utils/src/fisheryates.rs
Labels: chore, rand

#1441 refactor(da): Use method with self in sampling behaviour
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
Labels: refactor, da, da-network

#1437 feat(da): use da-network get commitments from sampling
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-node/node/src/lib.rs
  nomos-services/data-availability/dispersal/src/adapters/network/libp2p.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/common.rs
  nomos-services/data-availability/sampling/src/network/adapters/executor.rs
  nomos-services/data-availability/sampling/src/network/adapters/validator.rs
  nomos-services/data-availability/sampling/src/network/mod.rs
  nomos-services/data-availability/verifier/src/network/adapters/common.rs
  nomos-services/data-availability/verifier/src/network/adapters/executor.rs
  nomos-services/data-availability/verifier/src/network/adapters/validator.rs
Labels: da, feature

#1435 feat(da): move ApiAdapter from da-sampling to da-network
  dependencies_graph.dot
  nodes/nomos-executor/config.yaml
  nodes/nomos-executor/executor/src/api/backend.rs
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-node/config.yaml
  nodes/nomos-node/node/src/api/backend.rs
  nodes/nomos-node/node/src/api/handlers.rs
  nodes/nomos-node/node/src/generic_services.rs
  nodes/nomos-node/node/src/lib.rs
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/api/src/http/mempool.rs
  nomos-services/chain-service/src/lib.rs
  nomos-services/chain-service/src/relays.rs
  nomos-services/data-availability/dispersal/src/adapters/mempool/kzgrs.rs
  nomos-services/data-availability/dispersal/src/adapters/network/libp2p.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/api/http.rs
  nomos-services/data-availability/network/src/api/mod.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/sampling/Cargo.toml
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/common.rs
  nomos-services/data-availability/sampling/src/network/adapters/executor.rs
  nomos-services/data-availability/sampling/src/network/adapters/validator.rs
  nomos-services/data-availability/sampling/src/network/mod.rs
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/data-availability/verifier/src/network/adapters/common.rs
  nomos-services/data-availability/verifier/src/network/adapters/executor.rs
  nomos-services/data-availability/verifier/src/network/adapters/validator.rs
  nomos-services/data-availability/verifier/src/network/mod.rs
  nomos-services/mempool/src/da/service.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
Labels: da, feature

#1436 feat(ledger): Use efficient UtxoTree in ledger
  Cargo.toml
  dependencies_graph.dot
  ledger/nomos-ledger/Cargo.toml
  ledger/nomos-ledger/src/cryptarchia/mod.rs
  ledger/nomos-ledger/src/cryptarchia/utxotree.rs
  ledger/nomos-ledger/src/lib.rs
  nodes/nomos-executor/config.yaml
  nodes/nomos-node/config.yaml
  nomos-core/chain-defs/src/mantle/ledger.rs
  utxotree/Cargo.toml
  utxotree/src/lib.rs
  utxotree/src/merkle.rs
Labels: feature, ledger

#1457 feat(da): Implement subnetworks assignations algorithm
  Cargo.toml
  dependencies_graph.dot
  nomos-da/network/core/src/lib.rs
  nomos-da/network/subnetworks-assignations/Cargo.toml
  nomos-da/network/subnetworks-assignations/benches/historic_aware_refill.rs
  nomos-da/network/subnetworks-assignations/src/lib.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/mod.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/participant.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/subnetwork.rs
  nomos-da/network/subnetworks-assignations/src/versions/mod.rs
  nomos-sdp/src/lib.rs
  nomos-utils/Cargo.toml
  nomos-utils/src/fisheryates.rs
Labels: bench, da, feature, membership, da-network

#1458 refactor(sdp): SDP definitions in nomos-core
  Cargo.toml
  dependencies_graph.dot
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/generic_services.rs
  nomos-core/chain-defs/Cargo.toml
  nomos-core/chain-defs/src/lib.rs
  nomos-core/chain-defs/src/mantle/ops/sdp.rs
  nomos-core/chain-defs/src/sdp/mod.rs
  nomos-core/chain-defs/src/sdp/state.rs
  nomos-sdp/Cargo.toml
  nomos-sdp/src/ledger.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/membership.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/membership/adapters/service.rs
  nomos-services/membership/Cargo.toml
  nomos-services/membership/src/backends/mock.rs
  nomos-services/membership/src/backends/mod.rs
  nomos-services/membership/src/lib.rs
  nomos-services/sdp/Cargo.toml
  nomos-services/sdp/src/adapters/declaration/repository.rs
  nomos-services/sdp/src/adapters/services/services_repository.rs
  nomos-services/sdp/src/backends/ledger.rs
  nomos-services/sdp/src/backends/mod.rs
  nomos-services/sdp/src/lib.rs
  testnet/cfgsync/Cargo.toml
  testnet/cfgsync/src/config.rs
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/tests/da/api.rs
  tests/src/tests/membership/api.rs
  tests/src/tests/membership/disperse.rs
  tests/src/topology/configs/membership.rs
Labels: refactor, sdp

#1450 feat(da): Commitments request and response in sampling protocol
  nodes/nomos-executor/config.yaml
  nodes/nomos-node/config.yaml
  nomos-da/kzgrs-backend/src/common/share.rs
  nomos-da/network/core/src/behaviour/executor.rs
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/errors.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-da/network/core/src/protocols/sampling/streams.rs
  nomos-da/network/core/src/swarm/common/handlers.rs
  nomos-da/network/core/src/swarm/common/monitor.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-da/network/messages/src/sampling.rs
  nomos-services/data-availability/dispersal/src/adapters/network/libp2p.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/sampling/src/lib.rs
  testnet/cfgsync.yaml
  testnet/cfgsync/src/config.rs
  testnet/cfgsync/src/server.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/da.rs
Labels: da, sampling, feature, da-network

#1415 feat(chain): network adapter logic for orphan blocks download
  nomos-libp2p/src/behaviour/kademlia/behaviour_ext.rs
  nomos-libp2p/src/behaviour/kademlia/swarm_ext.rs
  nomos-services/chain-service/Cargo.toml
  nomos-services/chain-service/src/network/adapters/libp2p.rs
  nomos-services/chain-service/src/network/mod.rs
  nomos-services/network/src/backends/libp2p/command.rs
  nomos-services/network/src/backends/libp2p/swarm/kademlia.rs
  nomos-services/network/src/backends/libp2p/swarm/mod.rs
Labels: network, feature, orphan, chain

#1477 feat(membership): Integrate subnetwork assignations from spec
  nodes/nomos-executor/config.yaml
  nodes/nomos-node/config.yaml
  nodes/nomos-node/node/src/lib.rs
  nomos-da/network/subnetworks-assignations/Cargo.toml
  nomos-da/network/subnetworks-assignations/benches/historic_aware_refill.rs
  nomos-da/network/subnetworks-assignations/src/lib.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/assignations.rs
  nomos-da/network/subnetworks-assignations/src/versions/history_aware_refill/mod.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/storage/mod.rs
  nomos-services/membership/src/lib.rs
  tests/src/topology/configs/da.rs
Labels: feature, membership

#1416 feat(da-network): implement da membership storage
  dependencies_graph.dot
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-node/node/src/generic_services.rs
  nodes/nomos-node/node/src/lib.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/network/src/storage/adapters/mock.rs
  nomos-services/data-availability/network/src/storage/adapters/mod.rs
  nomos-services/data-availability/network/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/network/src/storage/mod.rs
  nomos-services/storage/Cargo.toml
  nomos-services/storage/src/api/backend/rocksdb/da.rs
  nomos-services/storage/src/api/da/mod.rs
  nomos-services/storage/src/api/da/requests.rs
  nomos-services/storage/src/backends/mock.rs
Labels: feature, da-network

#1470 feat(ledger): Process LedgerTx
  ledger/nomos-ledger/src/cryptarchia/mod.rs
  ledger/nomos-ledger/src/lib.rs
  nomos-core/chain-defs/src/mantle/gas.rs
  nomos-core/chain-defs/src/mantle/keys.rs
  nomos-core/chain-defs/src/mantle/ledger.rs
  nomos-core/chain-defs/src/mantle/mod.rs
  nomos-core/chain-defs/src/mantle/tx.rs
  nomos-core/chain-defs/src/proofs/mod.rs
  nomos-core/chain-defs/src/proofs/zksig.rs
  nomos-core/proof_statements/src/lib.rs
  nomos-core/proof_statements/src/zksig.rs
  nomos-services/chain-service/src/lib.rs
  tests/src/tests/mempool/api.rs
Labels: feature, ledger

#1489 chore: Update CODEOWNERS
  .github/CODEOWNERS
Labels: chore
