Repository logos-co/nomos, pull requests merged in 2025-09, with the labels that each got.

#1613 chore: avoid building unnecessary features
  .cargo-deny.toml
  .github/rust_update_issue_template.md
  .github/workflows/rust-latest-version-check.yml
  Cargo.toml
  consensus/cryptarchia-engine/Cargo.toml
  consensus/cryptarchia-sync/Cargo.toml
  ledger/nomos-ledger/Cargo.toml
  mmr/Cargo.toml
  nodes/api-common/Cargo.toml
  nodes/nomos-executor/executor/Cargo.toml
  nodes/nomos-executor/http-client/Cargo.toml
  nodes/nomos-node/http-client/Cargo.toml
  nodes/nomos-node/node/Cargo.toml
  nomos-blend/message/Cargo.toml
  nomos-blend/network/Cargo.toml
  nomos-blend/scheduling/Cargo.toml
  nomos-bundler/Cargo.toml
  nomos-cli/Cargo.toml
  nomos-core/chain-defs/Cargo.toml
  nomos-core/proof_statements/Cargo.toml
  nomos-core/risc0_proofs/proof_of_leadership/Cargo.toml
  nomos-da/kzgrs-backend/Cargo.toml
  nomos-da/kzgrs/Cargo.toml
  nomos-da/network/core/Cargo.toml
  nomos-da/network/messages/Cargo.toml
  nomos-da/network/subnetworks-assignations/Cargo.toml
  nomos-libp2p/Cargo.toml
  nomos-services/api/Cargo.toml
  nomos-services/blend/Cargo.toml
  nomos-services/chain-service/Cargo.toml
  nomos-services/data-availability/dispersal/Cargo.toml
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/sampling/Cargo.toml
  nomos-services/data-availability/verifier/Cargo.toml
  nomos-services/key-management-system/Cargo.toml
  nomos-services/membership/Cargo.toml
  nomos-services/mempool/Cargo.toml
  nomos-services/network/Cargo.toml
  nomos-services/sdp/Cargo.toml
  nomos-services/storage/Cargo.toml
  nomos-services/system-sig/Cargo.toml
  nomos-services/time/Cargo.toml
  nomos-services/tracing/Cargo.toml
  nomos-services/utils/Cargo.toml
  nomos-tracing/Cargo.toml
  nomos-utils/Cargo.toml
  testnet/cfgsync/Cargo.toml
  tests/Cargo.toml
  utxotree/Cargo.toml
  zk/groth16/Cargo.toml
  zk/poseidon2/Cargo.toml
Labels: chore

#1626 chore(ci): cargo dany ignore tracing subscriber vulnerability
  .cargo-deny.toml
Labels: ci, chore

#1625 feat(da-network): historic sampling behavior and service glue
  nomos-da/network/core/src/protocols/sampling/errors.rs
  nomos-da/network/core/src/protocols/sampling/historic/mod.rs
  nomos-da/network/core/src/protocols/sampling/historic/request_behaviour.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-services/data-availability/dispersal/src/adapters/network/libp2p.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
Labels: feature, da-network

#1536 ci(nix): Update to flake-style.
  ci/Jenkinsfile.prs.macos
  ci/README.md
  flake.lock
  flake.nix
  rust-toolchain.toml
  shell.nix
Labels: CI/CD, nix

#1630 chore(zk): Re-export poseidon hash types in core
  nomos-core/chain-defs/src/crypto.rs
  nomos-core/chain-defs/src/mantle/tx.rs
  zk/poseidon2/src/lib.rs
Labels: chore, zk

#1632 fix(ledger): Fix slot endianess in epoch nonce calculations
  consensus/cryptarchia-engine/src/time.rs
  ledger/nomos-ledger/src/cryptarchia/mod.rs
Labels: fix, ledger

#1619 chore(da-sampling): refactor sampling loop to unblock it while waiting for commitments
  nomos-services/data-availability/sampling/src/lib.rs
Labels: chore, da-sampling

#1635 chore(utils): Improvements for find_binary
  .gitignore
  nomos-services/chain-service/Cargo.toml
  zk/circuits/prover/src/rapidsnark.rs
  zk/circuits/utils/Cargo.toml
  zk/circuits/utils/src/lib.rs
  zk/circuits/verifier/src/wrappers.rs
  zk/circuits/witness-generator/src/pol_test.rs
  zk/proofs/pol/src/proving_key/mod.rs
  zk/proofs/pol/src/witness.rs
  zk/proofs/poq/src/proving_key/mod.rs
  zk/proofs/poq/src/witness.rs
  zk/proofs/zksign/src/proving_key/mod.rs
  zk/proofs/zksign/src/witness.rs
Labels: chore, utils

#1651 chore(mempool): Remove da mempool
  .github/workflows/code-check.yml
  nodes/api-common/src/paths.rs
  nodes/nomos-executor/config.yaml
  nodes/nomos-executor/executor/src/api/backend.rs
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-executor/executor/src/main.rs
  nodes/nomos-node/config.yaml
  nodes/nomos-node/node/src/api/backend.rs
  nodes/nomos-node/node/src/api/handlers.rs
  nodes/nomos-node/node/src/config/mempool.rs
  nodes/nomos-node/node/src/generic_services.rs
  nodes/nomos-node/node/src/lib.rs
  nodes/nomos-node/node/src/main.rs
  nomos-core/chain-defs/src/da/mod.rs
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/validator/behaviour.rs
  nomos-da/network/core/src/swarm/common/handlers.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/swarm/mod.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/mempool.rs
  nomos-services/chain-service/src/lib.rs
  nomos-services/chain-service/src/relays.rs
  nomos-services/data-availability/dispersal/Cargo.toml
  nomos-services/data-availability/dispersal/src/adapters/wallet/mock.rs
  nomos-services/data-availability/dispersal/src/adapters/wallet/mod.rs
  nomos-services/data-availability/dispersal/src/backend/kzgrs.rs
  nomos-services/data-availability/dispersal/src/backend/mod.rs
  nomos-services/data-availability/dispersal/src/lib.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/verifier/src/backend/trigger.rs
  nomos-services/data-availability/verifier/src/lib.rs
  nomos-services/data-availability/verifier/src/mempool/kzgrs.rs
  nomos-services/data-availability/verifier/src/mempool/mod.rs
  nomos-services/mempool/Cargo.toml
  nomos-services/mempool/src/da/mod.rs
  nomos-services/mempool/src/da/network/adapters/libp2p.rs
  nomos-services/mempool/src/da/network/adapters/mod.rs
  nomos-services/mempool/src/da/network/mod.rs
  nomos-services/mempool/src/da/service.rs
  nomos-services/mempool/src/da/settings.rs
  nomos-services/mempool/src/da/state.rs
  nomos-services/mempool/src/lib.rs
  nomos-services/mempool/src/processor/mod.rs
  nomos-services/mempool/src/processor/noop.rs
  nomos-services/mempool/src/processor/tx.rs
  nomos-services/mempool/src/tx/service.rs
  tests/src/common/da.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/tests/da/api.rs
  tests/src/tests/da/disperse.rs
  tests/src/tests/membership/disperse.rs
  tests/src/topology/configs/da.rs
Labels: Mempool, chore

#1671 fix(zk): Fix proof sizes in proof libraries
  zk/groth16/Cargo.toml
  zk/groth16/src/lib.rs
  zk/groth16/src/proof/mod.rs
  zk/proofs/poc/src/lib.rs
  zk/proofs/pol/src/lib.rs
  zk/proofs/poq/src/lib.rs
  zk/proofs/zksign/src/lib.rs
Labels: fix, zk

#1676 fix: membership test need to generate eliptic curve for pid
  nomos-services/membership/Cargo.toml
  nomos-services/membership/src/backends/mock.rs
Labels: fix

#1701 fix(tracing): Activate serde for url in tracing crate
  nomos-tracing/Cargo.toml
Labels: tracing, fix

#1690 feat(wallet): Core wallet functionality
  Cargo.toml
  dependencies_graph.dot
  nomos-core/chain-defs/src/mantle/ledger.rs
  wallet/Cargo.toml
  wallet/src/error.rs
  wallet/src/lib.rs
Labels: feature, wallet

#1697 feat(wallet): Wallet Service
  Cargo.toml
  consensus/cryptarchia-engine/src/lib.rs
  dependencies_graph.dot
  nodes/nomos-node/config.yaml
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/config/mod.rs
  nodes/nomos-node/node/src/lib.rs
  nodes/nomos-node/node/src/main.rs
  nomos-services/chain/chain-service/src/api.rs
  nomos-services/chain/chain-service/src/lib.rs
  nomos-services/wallet/Cargo.toml
  nomos-services/wallet/src/lib.rs
  tests/Cargo.toml
  tests/src/nodes/validator.rs
  wallet/Cargo.toml
  wallet/src/lib.rs
Labels: feature, wallet

#1709 feat(chain): LIB broadcast test
  dependencies_graph.dot
  nodes/api-common/src/paths.rs
  nodes/nomos-node/http-client/Cargo.toml
  nodes/nomos-node/http-client/src/lib.rs
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/api/backend.rs
  nodes/nomos-node/node/src/api/handlers.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/cl.rs
  nomos-services/chain/broadcast-service/Cargo.toml
  nomos-services/chain/broadcast-service/src/lib.rs
  tests/Cargo.toml
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/tests/cryptarchia/immutable_blocks.rs
Labels: feature, chain

#1679 feat(pol): Switch from risc0 to groth16 for Proof of Leadership
  .github/workflows/code-check.yml
  .github/workflows/codecov.yml
  Cargo.toml
  consensus/cryptarchia-sync/Cargo.toml
  dependencies_graph.dot
  ledger/nomos-ledger/Cargo.toml
  ledger/nomos-ledger/src/cryptarchia/mod.rs
  ledger/nomos-ledger/src/lib.rs
  nomos-core/chain-defs/Cargo.toml
  nomos-core/chain-defs/src/header/mod.rs
  nomos-core/chain-defs/src/mantle/ledger.rs
  nomos-core/chain-defs/src/mantle/ops/leader_claim.rs
  nomos-core/chain-defs/src/mantle/ops/mod.rs
  nomos-core/chain-defs/src/mantle/tx.rs
  nomos-core/chain-defs/src/proofs/leader_proof.rs
  nomos-core/chain-defs/src/proofs/zksig.rs
  nomos-core/chain-defs/src/utils/merkle.rs
  nomos-core/chain-defs/src/utils/mod.rs
  nomos-core/proof_statements/Cargo.toml
  nomos-core/proof_statements/src/leadership.rs
  nomos-core/proof_statements/src/lib.rs
  nomos-core/proof_statements/src/zksig.rs
  nomos-core/risc0_proofs/Cargo.toml
  nomos-core/risc0_proofs/build.rs
  nomos-core/risc0_proofs/proof_of_leadership/Cargo.toml
  nomos-core/risc0_proofs/proof_of_leadership/src/main.rs
  nomos-core/risc0_proofs/src/lib.rs
  nomos-da/network/core/Cargo.toml
  nomos-services/chain/chain-service/Cargo.toml
  nomos-services/chain/chain-service/src/leadership.rs
  nomos-services/chain/chain-service/src/lib.rs
  nomos-services/chain/chain-service/src/sync/block_provider.rs
  nomos-services/storage/Cargo.toml
  zk/groth16/src/lib.rs
  zk/groth16/src/proof/mod.rs
  zk/proofs/pol/src/lib.rs
  zk/proofs/pol/src/lottery.rs
Labels: pol, feature

#1718 chore(testnet): Setup circuit binaries in dockerfiles
  Dockerfile
  ci/Dockerfile
  ci/Jenkinsfile.docs
  ci/Jenkinsfile.nightly.fuzzy
  ci/Jenkinsfile.nightly.integration
  ci/Jenkinsfile.prs.linux
  ci/Jenkinsfile.prs.macos
  ci/README.md
  rust-toolchain.toml
  testnet/Dockerfile
  testnet/Dockerfile.debug
  testnet/cfgsync.yaml
  testnet/scripts/download_circuit_binaries.sh
  testnet/scripts/run_nomos_executor.sh
  testnet/scripts/run_nomos_node.sh
  testnet/scripts/setup_circuits_env.sh
  tests/README.md
  tests/src/topology/configs/tracing.rs
Labels: testnet, chore

#1722 chore: update Rust to 1.90
  .github/workflows/code-check.yml
  .pre-commit-config.yaml
  Cargo.toml
  Dockerfile
  consensus/cryptarchia-sync/src/lib.rs
  consensus/cryptarchia-sync/src/libp2p/behaviour.rs
  consensus/cryptarchia-sync/src/libp2p/downloader.rs
  consensus/cryptarchia-sync/src/libp2p/messages.rs
  consensus/cryptarchia-sync/src/libp2p/mod.rs
  consensus/cryptarchia-sync/src/libp2p/provider.rs
  consensus/cryptarchia-sync/src/messages.rs
  flake.nix
  nomos-blend/network/src/core/with_core/behaviour/mod.rs
  nomos-da/kzgrs/src/common.rs
  nomos-da/kzgrs/src/fk20.rs
  nomos-services/key-management-system/src/keys/ed25519.rs
  nomos-services/mempool/src/network/messages.rs
  nomos-services/mempool/src/network/mod.rs
  rust-toolchain.toml
  testnet/Dockerfile
  tests/src/nodes/mod.rs
Labels: chore

#1729 fix(test): Make test with concurrency issues run sequentially.
  zk/circuits/utils/Cargo.toml
  zk/circuits/utils/src/lib.rs
Labels: test, fix

#1723 feat(logos-core): Nomos C bindings
  Cargo.toml
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/lib.rs
  nodes/nomos-node/node/src/main.rs
  nomos-c/Cargo.toml
  nomos-c/build.rs
  nomos-c/cbindgen.toml
  nomos-c/src/api.rs
  nomos-c/src/lib.rs
Labels: feature, logos-core

#1737 feat(testnet): add console config
  testnet/cfgsync.yaml
Labels: testnet, feature

#1740 chore: update CODEOWNERS
  .github/CODEOWNERS
  .gitignore
Labels: chore

#1741 chore(precommit): Remove dependency graph.
  .pre-commit-config.yaml
Labels: chore, precommit

#1746 fix(zk): poq input order
  nomos-blend/message/src/crypto/proofs/quota/mod.rs
  zk/proofs/poq/src/inputs.rs
  zk/proofs/poq/src/lib.rs
Labels: fix, zk

#1747 feat(kms): Integrate ZK key
  Cargo.toml
  nodes/nomos-node/node/src/config/mod.rs
  nomos-core/chain-defs/Cargo.toml
  nomos-core/chain-defs/src/mantle/keys.rs
  nomos-services/key-management-system/Cargo.toml
  nomos-services/key-management-system/src/encodings/errors.rs
  nomos-services/key-management-system/src/encodings/mod.rs
  nomos-services/key-management-system/src/keys/mod.rs
  nomos-services/key-management-system/src/keys/zk.rs
Labels: kms, feature

#1752 chore(blend): add unit tests and fix minor issues
  nomos-blend/message/src/crypto/proofs/mod.rs
  nomos-blend/message/src/crypto/proofs/quota/fixtures.rs
  nomos-blend/message/src/crypto/proofs/quota/inputs/prove/mod.rs
  nomos-blend/message/src/crypto/proofs/quota/inputs/prove/private.rs
  nomos-blend/message/src/crypto/proofs/quota/inputs/verify.rs
  nomos-blend/message/src/crypto/proofs/quota/mod.rs
  nomos-blend/message/src/crypto/proofs/quota/tests.rs
  nomos-blend/message/src/crypto/proofs/selection/mod.rs
  nomos-blend/message/src/crypto/proofs/selection/tests.rs
  nomos-blend/message/src/encap/tests.rs
  nomos-blend/message/src/message/public_header.rs
  nomos-blend/scheduling/Cargo.toml
  nomos-blend/scheduling/src/membership.rs
  nomos-blend/scheduling/src/message_blend/mod.rs
  nomos-blend/scheduling/src/message_blend/tests.rs
  zk/proofs/poq/src/common_inputs.rs
Labels: blend, chore

#1758 fix(cl-references): Remove references to CL
  nodes/api-common/src/paths.rs
  nodes/nomos-executor/config.yaml
  nodes/nomos-executor/executor/src/api/backend.rs
  nodes/nomos-executor/executor/src/lib.rs
  nodes/nomos-executor/executor/src/main.rs
  nodes/nomos-node/config.yaml
  nodes/nomos-node/node/src/api/backend.rs
  nodes/nomos-node/node/src/api/handlers.rs
  nodes/nomos-node/node/src/config/mempool.rs
  nodes/nomos-node/node/src/lib.rs
  nomos-services/api/src/http/mantle.rs
  nomos-services/api/src/http/mod.rs
  nomos-services/chain/chain-leader/src/lib.rs
  nomos-services/chain/chain-leader/src/relays.rs
  nomos-services/chain/chain-service/src/lib.rs
  nomos-services/chain/chain-service/src/relays.rs
  nomos-services/data-availability/verifier/src/mempool/kzgrs.rs
  nomos-services/mempool/src/backend/mockpool/mod.rs
  nomos-services/mempool/src/backend/mod.rs
  nomos-services/mempool/src/tx/service.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
Labels: fix, cl-references

#1757 feat(chain): mark the service as ready after bootstrapping is done
  nomos-services/chain/chain-leader/src/lib.rs
  nomos-services/chain/chain-service/src/lib.rs
  nomos-services/wallet/Cargo.toml
  nomos-services/wallet/src/lib.rs
  testnet/cfgsync/src/config.rs
  tests/src/nodes/validator.rs
  tests/src/tests/cryptarchia/bootstrap.rs
  tests/src/topology/configs/bootstrap.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/mod.rs
Labels: feature, chain

#1769 chore(testnet): Build all features to enable pol debug mode
  testnet/Dockerfile
Labels: testnet, chore
