Repository logos-co/nomos, pull requests merged in 2025-02, with the labels that each got.

#987 refactor(blend): perform conn monitoring in the ConnectionHandler level
  nomos-blend/core/Cargo.toml
  nomos-blend/core/src/conn_maintenance.rs
  nomos-blend/network/Cargo.toml
  nomos-blend/network/src/behaviour.rs
  nomos-blend/network/src/handler.rs
  nomos-blend/network/src/lib.rs
  nomos-services/blend/Cargo.toml
  nomos-services/blend/src/backends/libp2p.rs
  nomos-services/data-availability/tests/src/common.rs
  tests/src/topology/configs/blend.rs
Labels: blend

#988 refactor(blend): drop streams if malicious or on error
  nomos-blend/network/src/behaviour.rs
  nomos-blend/network/src/handler.rs
  nomos-blend/network/src/lib.rs
Labels: blend

#989 refactor(blend): establish new connections, or deny new streams
  Dockerfile
  ci/Dockerfile
  nomos-blend/core/src/membership.rs
  nomos-blend/network/Cargo.toml
  nomos-blend/network/src/behaviour.rs
  nomos-blend/network/src/handler.rs
  nomos-blend/network/src/lib.rs
  nomos-libp2p/Cargo.toml
  nomos-libp2p/src/lib.rs
  nomos-services/blend/Cargo.toml
  nomos-services/blend/src/backends/libp2p.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/network/src/backends/libp2p/swarm.rs
  testnet/Dockerfile
Labels: blend

#986 refactor(blend): enhance connection management structures
  Dockerfile
  ci/Dockerfile
  nomos-blend/core/Cargo.toml
  nomos-blend/core/src/conn_maintenance.rs
  nomos-blend/core/src/membership.rs
  nomos-blend/core/src/message_blend/crypto.rs
  nomos-blend/core/src/message_blend/mod.rs
  nomos-blend/network/Cargo.toml
  nomos-blend/network/src/behaviour.rs
  nomos-blend/network/src/handler.rs
  nomos-blend/network/src/lib.rs
  nomos-libp2p/Cargo.toml
  nomos-libp2p/src/lib.rs
  nomos-services/blend/Cargo.toml
  nomos-services/blend/src/backends/libp2p.rs
  nomos-services/blend/src/backends/mod.rs
  nomos-services/blend/src/lib.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/network/src/backends/libp2p/swarm.rs
  testnet/Dockerfile
  testnet/cfgsync/Cargo.toml
  testnet/cfgsync/src/config.rs
  tests/src/topology/configs/blend.rs
Labels: blend

#1011 Set tracing_subscriber for all cli commands
  nomos-cli/Cargo.toml
  nomos-cli/src/cmds/executor.rs
  nomos-cli/src/cmds/validator.rs
  nomos-cli/src/main.rs
Labels: client

#1005 feature(ci): Nomos Node release page
  .github/workflows/packaging.yml
Labels: ci

#1012 refactor: make `PersistentTransmission` accept generic type, not only `Vec<u8>`
  nomos-blend/core/src/persistent_transmission.rs
  nomos-services/blend/src/lib.rs
Labels: refactor, blend

#1017 feature(recovery): Save security block
  consensus/cryptarchia-engine/src/lib.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/storage/adapters/mod.rs
  nomos-services/cryptarchia-consensus/src/storage/adapters/storage.rs
  nomos-services/cryptarchia-consensus/src/storage/mod.rs
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/utils/Cargo.toml
  nomos-services/utils/src/overwatch/recovery/mod.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
Labels: consensus

#1018 chore: add toolchain file
  .github/workflows/build-test.yml
  .github/workflows/codecov.yml
  .github/workflows/packaging.yml
  .gitignore
  rust-toolchain.toml
Labels: ci

#1045 Unpin cargo binstall version
  Dockerfile
  ci/Dockerfile
  testnet/Dockerfile
Labels: ci

#1053 feature(tracing): Nomos tracing ability to set panic hook
  nomos-services/tracing/src/lib.rs
  nomos-tracing/src/lib.rs
  nomos-tracing/src/panic.rs
  testnet/monitoring/tempo.yaml
Labels: tracing

#1042 chore(da): DA Indexer return DaBlob
  nodes/nomos-node/src/lib.rs
  nomos-services/api/src/http/da.rs
  nomos-services/data-availability/indexer/Cargo.toml
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/indexer/src/storage/adapters/rocksdb.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/tests/da.rs
Labels: da, http

#1055 chore(da): DA network behaviour errors
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/validator/behaviour.rs
  nomos-da/network/core/src/protocols/replication/behaviour.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/swarm/common/handlers.rs
  nomos-da/network/core/src/swarm/common/mod.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/sampling/src/lib.rs
Labels: network, da

#1040 chore(consensus): Group relays
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/relays.rs
Labels: refactor

#1050 chore: add cargo-deny support
  .cargo-deny.toml
  .github/workflows/build-test.yml
Labels: ci

#1067 chore(tests): Remove tests debug feature flag and replace it with env var
  tests/Cargo.toml
  tests/src/lib.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/tracing.rs
Labels: testing

#1068 fix: CI
  Cargo.toml
Labels: ci

#1066 feat(DA): Connection policy and use in monitor
  nodes/nomos-node/config.yaml
  nomos-da/network/core/src/swarm/common/mod.rs
  nomos-da/network/core/src/swarm/common/monitor.rs
  nomos-da/network/core/src/swarm/common/policy.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/swarm/mod.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/tests/src/common.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/da.rs
Labels: network, da

#1060 feat(DA): Connection monitor behavior
  nodes/nomos-node/config.yaml
  nomos-da/network/core/Cargo.toml
  nomos-da/network/core/src/behaviour/executor.rs
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/lib.rs
  nomos-da/network/core/src/maintenance/mod.rs
  nomos-da/network/core/src/maintenance/monitor.rs
  nomos-da/network/core/src/protocols/dispersal/executor/behaviour.rs
  nomos-da/network/core/src/protocols/dispersal/validator/behaviour.rs
  nomos-da/network/core/src/protocols/replication/behaviour.rs
  nomos-da/network/core/src/protocols/replication/handler.rs
  nomos-da/network/core/src/protocols/sampling/behaviour.rs
  nomos-da/network/core/src/swarm/common/handlers.rs
  nomos-da/network/core/src/swarm/common/mod.rs
  nomos-da/network/core/src/swarm/common/monitor.rs
  nomos-da/network/core/src/swarm/common/policy.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/swarm/mod.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-services/data-availability/network/Cargo.toml
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/tests/src/common.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  tests/Cargo.toml
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/da.rs
Labels: network, da

#1077 fix: pin CI versions
  .github/actions/install-risc0/action.yml
  .github/workflows/code-check.yml
  .github/workflows/codecov.yml
Labels: ci

#1079 fix: docker triggering job
  .github/actions/install-risc0/action.yml
  .github/actions/setup-cargo-cache/action.yml
  .github/workflows/code-check.yml
  .github/workflows/codecov.yml
  nomos-services/utils/src/overwatch/recovery/operators.rs
Labels: ci

#1071 feat(DA): Connection balancer behavior
  nodes/nomos-node/config.yaml
  nomos-da/network/core/src/behaviour/executor.rs
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/maintenance/balancer.rs
  nomos-da/network/core/src/maintenance/mod.rs
  nomos-da/network/core/src/protocols/replication/behaviour.rs
  nomos-da/network/core/src/swarm/common/balancer.rs
  nomos-da/network/core/src/swarm/common/mod.rs
  nomos-da/network/core/src/swarm/common/monitor.rs
  nomos-da/network/core/src/swarm/common/policy.rs
  nomos-da/network/core/src/swarm/executor.rs
  nomos-da/network/core/src/swarm/mod.rs
  nomos-da/network/core/src/swarm/validator.rs
  nomos-da/network/core/src/test_utils.rs
  nomos-da/network/subnetworks-assignations/src/lib.rs
  nomos-da/network/subnetworks-assignations/src/versions/v1.rs
  nomos-da/network/subnetworks-assignations/src/versions/v2.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/tests/src/common.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/topology/configs/da.rs
Labels: network, da

#1070 chore(DA): Cleanup verifier leftovers
  nomos-da/kzgrs-backend/Cargo.toml
  nomos-da/kzgrs-backend/benches/verifier.rs
  nomos-da/kzgrs-backend/src/dispersal.rs
  nomos-da/kzgrs-backend/src/verifier.rs
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/data-availability/verifier/src/backend/kzgrs.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
Labels: refactor

#1062 feat(TimeService): Implement time service and integrate with cryptarchia
  Cargo.toml
  consensus/cryptarchia-engine/Cargo.toml
  consensus/cryptarchia-engine/src/config.rs
  consensus/cryptarchia-engine/src/lib.rs
  consensus/cryptarchia-engine/src/time.rs
  ledger/nomos-ledger/src/config.rs
  ledger/nomos-ledger/src/lib.rs
  nodes/nomos-executor/Cargo.toml
  nodes/nomos-executor/src/api/backend.rs
  nodes/nomos-executor/src/config/mod.rs
  nodes/nomos-executor/src/lib.rs
  nodes/nomos-executor/src/main.rs
  nodes/nomos-node/Cargo.toml
  nodes/nomos-node/config.yaml
  nodes/nomos-node/src/api/backend.rs
  nodes/nomos-node/src/api/handlers.rs
  nodes/nomos-node/src/config/mod.rs
  nodes/nomos-node/src/lib.rs
  nodes/nomos-node/src/main.rs
  nomos-da/kzgrs-backend/Cargo.toml
  nomos-da/storage/Cargo.toml
  nomos-services/api/Cargo.toml
  nomos-services/api/src/http/consensus/cryptarchia.rs
  nomos-services/api/src/http/da.rs
  nomos-services/cryptarchia-consensus/Cargo.toml
  nomos-services/cryptarchia-consensus/src/lib.rs
  nomos-services/cryptarchia-consensus/src/time.rs
  nomos-services/data-availability/indexer/Cargo.toml
  nomos-services/data-availability/indexer/src/lib.rs
  nomos-services/data-availability/tests/Cargo.toml
  nomos-services/data-availability/tests/src/common.rs
  nomos-services/data-availability/tests/src/indexer_integration.rs
  nomos-services/data-availability/tests/src/verifier_integration.rs
  nomos-services/time/Cargo.toml
  nomos-services/time/src/backends/common.rs
  nomos-services/time/src/backends/mod.rs
  nomos-services/time/src/backends/ntp/async_client.rs
  nomos-services/time/src/backends/ntp/mod.rs
  nomos-services/time/src/backends/system_time.rs
  nomos-services/time/src/lib.rs
  testnet/cfgsync/src/bin/cfgsync-server.rs
  testnet/cfgsync/src/config.rs
  tests/Cargo.toml
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/tests/cryptarchia/happy.rs
  tests/src/topology/configs/consensus.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/configs/time.rs
  tests/src/topology/mod.rs
Labels: consensus
