Repository logos-co/nomos, pull requests merged in 2025-08, with the labels that each got.

#1496 chore(lints): enforce low-pain rustc and Clippy lints
  Cargo.toml
  nomos-core/proof_statements/Cargo.toml
  nomos-core/risc0_proofs/Cargo.toml
  nomos-core/risc0_proofs/proof_of_leadership/Cargo.toml
  nomos-services/tracing/src/lib.rs
Labels: chore, lints

#1494 feat(blend): update cache keys and classify peers for malformed and duplicated messages
  nomos-blend/message/src/crypto.rs
  nomos-blend/message/src/encap.rs
  nomos-blend/message/src/lib.rs
  nomos-blend/message/src/message.rs
  nomos-blend/network/Cargo.toml
  nomos-blend/network/src/core/behaviour.rs
  nomos-blend/network/src/core/error.rs
  nomos-blend/network/src/core/mod.rs
  nomos-blend/network/src/core/tokio.rs
  nomos-blend/network/src/lib.rs
  nomos-blend/network/src/message.rs
  nomos-blend/scheduling/src/lib.rs
  nomos-blend/scheduling/src/message_blend/crypto.rs
  nomos-services/blend/Cargo.toml
  nomos-services/blend/src/core/backends/libp2p/behaviour.rs
  nomos-services/blend/src/core/backends/libp2p/mod.rs
  nomos-services/blend/src/core/backends/libp2p/swarm.rs
  nomos-services/blend/src/core/backends/mod.rs
  nomos-services/blend/src/core/message.rs
  nomos-services/blend/src/core/mod.rs
  nomos-services/blend/src/edge/backends/libp2p/swarm.rs
  nomos-services/blend/src/edge/mod.rs
  nomos-services/blend/src/message.rs
  nomos-services/chain-service/Cargo.toml
  nomos-services/chain-service/src/blend/mod.rs
Labels: blend, feature

#1490 feat(crypto): Migrate blend message to blake
  nomos-blend/message/Cargo.toml
  nomos-blend/message/src/crypto.rs
  nomos-da/network/subnetworks-assignations/Cargo.toml
  nomos-services/data-availability/network/Cargo.toml
  nomos-utils/Cargo.toml
  nomos-utils/src/blake_rng.rs
  nomos-utils/src/lib.rs
Labels: feature, crypto

#1478 feat(sync): sync protocol improvements
  consensus/cryptarchia-sync/Cargo.toml
  consensus/cryptarchia-sync/src/config.rs
  consensus/cryptarchia-sync/src/lib.rs
  consensus/cryptarchia-sync/src/libp2p/behaviour.rs
  consensus/cryptarchia-sync/src/libp2p/downloader.rs
  consensus/cryptarchia-sync/src/libp2p/errors.rs
  consensus/cryptarchia-sync/src/libp2p/provider.rs
  nomos-libp2p/src/behaviour/mod.rs
  nomos-libp2p/src/config/mod.rs
  nomos-libp2p/src/swarm.rs
  nomos-services/network/src/backends/libp2p/swarm/mod.rs
Labels: sync, feature

#1521 chore(sampling): Split sampling behaviour
  nomos-da/network/core/src/behaviour/executor.rs
  nomos-da/network/core/src/behaviour/validator.rs
  nomos-da/network/core/src/protocols/sampling/mod.rs
  nomos-da/network/core/src/protocols/sampling/requests/mod.rs
  nomos-da/network/core/src/protocols/sampling/requests/request_behaviour.rs
  nomos-da/network/core/src/protocols/sampling/responses/mod.rs
  nomos-da/network/core/src/protocols/sampling/responses/response_behaviour.rs
  nomos-da/network/core/src/protocols/sampling/streams.rs
Labels: sampling, chore

#1448 feat(bootstrap): IBD integration testing
  consensus/cryptarchia-engine/src/lib.rs
  nomos-services/chain-service/Cargo.toml
  nomos-services/chain-service/src/bootstrap/ibd.rs
  nomos-services/chain-service/src/lib.rs
  nomos-services/chain-service/src/sync/block_provider.rs
  testnet/cfgsync/src/config.rs
  tests/Cargo.toml
  tests/src/nodes/validator.rs
  tests/src/tests/cryptarchia/bootstrap.rs
  tests/src/topology/configs/bootstrap.rs
  tests/src/topology/configs/mod.rs
  tests/src/topology/configs/network.rs
  tests/src/topology/mod.rs
Labels: feature, bootstrap

#1515 feat(sync): reject sync protocol requests cleanly
  consensus/cryptarchia-sync/src/lib.rs
  consensus/cryptarchia-sync/src/libp2p/behaviour.rs
  consensus/cryptarchia-sync/src/libp2p/downloader.rs
  consensus/cryptarchia-sync/src/libp2p/errors.rs
  consensus/cryptarchia-sync/src/libp2p/mod.rs
  consensus/cryptarchia-sync/src/libp2p/provider.rs
  consensus/cryptarchia-sync/src/messages.rs
  nomos-services/chain-service/src/bootstrap/ibd.rs
  nomos-services/chain-service/src/lib.rs
  nomos-services/chain-service/src/sync/block_provider.rs
  nomos-services/network/Cargo.toml
  nomos-services/network/src/message.rs
Labels: sync, feature

#1529 feat(da-network): cumulative in-memory addressbook
  nomos-services/data-availability/network/src/addressbook.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/network/src/storage/mod.rs
Labels: feature, da-network

#1524 feat(blend): dial retries
  nodes/nomos-executor/config.yaml
  nodes/nomos-node/config.yaml
  nodes/nomos-node/node/src/config/blend.rs
  nomos-blend/network/src/core/with_core/behaviour/mod.rs
  nomos-blend/scheduling/src/membership.rs
  nomos-services/blend/src/core/backends/libp2p/settings.rs
  nomos-services/blend/src/core/backends/libp2p/swarm.rs
  nomos-services/blend/src/edge/backends/libp2p/settings.rs
  nomos-services/blend/src/edge/backends/libp2p/swarm.rs
  tests/src/topology/configs/blend.rs
Labels: blend, feature

#1528 chore: update toolchain to 1.89
  .github/workflows/code-check.yml
  .pre-commit-config.yaml
  Cargo.toml
  Dockerfile
  ci/Dockerfile
  nodes/nomos-executor/executor/Cargo.toml
  nodes/nomos-executor/executor/src/api/backend.rs
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/api/backend.rs
  nomos-core/chain-defs/src/mantle/mock.rs
  nomos-core/chain-defs/src/mantle/ops/serde_.rs
  nomos-da/kzgrs-backend/src/encoder.rs
  nomos-da/network/core/src/protocols/replication/mod.rs
  nomos-libp2p/src/config/mod.rs
  nomos-services/api/Cargo.toml
  nomos-services/api/tests/todo.rs
  nomos-services/chain-service/Cargo.toml
  nomos-services/chain-service/src/network/adapters/libp2p.rs
  nomos-services/key-management-system/src/backend/preload.rs
  nomos-services/mempool/Cargo.toml
  nomos-services/network/Cargo.toml
  nomos-services/network/src/backends/libp2p/swarm/mod.rs
  nomos-services/time/src/backends/ntp/async_client.rs
  rust-toolchain.toml
  shell.nix
  testnet/Dockerfile
  testnet/Dockerfile.debug
  testnet/cfgsync/src/bin/cfgsync-client.rs
  tests/src/lib.rs
  tests/src/topology/configs/time.rs
Labels: chore

#1530 chore: remove unnecessary join handles
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
Labels: chore

#1543 chore(zk): Minor fixes to groth16 tests
  zk/groth16-verifier/src/verifier.rs
  zk/groth16-verifier/tests/verify_cycles.rs
Labels: testing, chore, zk

#1512 feat(circuits): Implement binary wrappers
  .gitignore
  Cargo.toml
  circuits/mantle/pol/Cargo.toml
  circuits/mantle/pol/resources/tests/input.json
  circuits/mantle/pol/resources/tests/proof.json
  circuits/mantle/pol/resources/tests/public.json
  circuits/mantle/pol/resources/tests/verification_key.json
  circuits/mantle/pol/resources/tests/witness.wtns
  circuits/mantle/pol/src/lib.rs
  circuits/mantle/pol/src/pol.rs
  circuits/mantle/pol/src/witness_generator.rs
  circuits/mantle/pol/src/wrappers.rs
  circuits/pol/Cargo.toml
  circuits/pol/src/lib.rs
  circuits/prover/Cargo.toml
  circuits/prover/src/lib.rs
  circuits/prover/src/prover.rs
  circuits/prover/src/rapidsnark.rs
  circuits/prover/src/wrappers.rs
  circuits/utils/src/lib.rs
  circuits/verifier/Cargo.toml
  circuits/verifier/src/lib.rs
  circuits/verifier/src/rapidsnark.rs
  circuits/verifier/src/traits.rs
  circuits/verifier/src/wrappers.rs
  dependencies_graph.dot
  nomos-services/storage/Cargo.toml
  tests/Cargo.toml
Labels: feature, circuits

#1555 feat(da-network): historic sampling behavior - wait for connection on dial
  nomos-da/network/core/src/protocols/sampling/historic/request_behaviour.rs
Labels: feature, da-network

#1547 test(blend): add core->edge behavior tests
  nomos-blend/network/Cargo.toml
  nomos-blend/network/src/core/mod.rs
  nomos-blend/network/src/core/tests/mod.rs
  nomos-blend/network/src/core/tests/utils.rs
  nomos-blend/network/src/core/with_core/behaviour/tests/bootstrapping.rs
  nomos-blend/network/src/core/with_core/behaviour/tests/connection_maintenance.rs
  nomos-blend/network/src/core/with_core/behaviour/tests/message_handling.rs
  nomos-blend/network/src/core/with_core/behaviour/tests/utils.rs
  nomos-blend/network/src/core/with_edge/behaviour/handler/mod.rs
  nomos-blend/network/src/core/with_edge/behaviour/handler/ready_to_receive.rs
  nomos-blend/network/src/core/with_edge/behaviour/mod.rs
  nomos-blend/network/src/core/with_edge/behaviour/tests/bootstrapping.rs
  nomos-blend/network/src/core/with_edge/behaviour/tests/message_handling.rs
  nomos-blend/network/src/core/with_edge/behaviour/tests/mod.rs
  nomos-blend/network/src/core/with_edge/behaviour/tests/utils.rs
Labels: test, blend

#1564 feat(zk): Implement poseidon2 hashing
  .cargo-deny.toml
  Cargo.toml
  dependencies_graph.dot
  zk/poseidon2/Cargo.toml
  zk/poseidon2/src/hasher.rs
  zk/poseidon2/src/lib.rs
Labels: feature, zk

#1578 chore(blend): make Blend protocol name a parameter
  nodes/nomos-executor/config.yaml
  nodes/nomos-node/config.yaml
  nomos-blend/network/src/core/mod.rs
  nomos-blend/network/src/core/tests/utils.rs
  nomos-blend/network/src/core/with_core/behaviour/handler/mod.rs
  nomos-blend/network/src/core/with_core/behaviour/mod.rs
  nomos-blend/network/src/core/with_core/behaviour/tests/utils.rs
  nomos-blend/network/src/core/with_edge/behaviour/handler/mod.rs
  nomos-blend/network/src/core/with_edge/behaviour/mod.rs
  nomos-blend/network/src/core/with_edge/behaviour/tests/bootstrapping.rs
  nomos-blend/network/src/core/with_edge/behaviour/tests/utils.rs
  nomos-libp2p/src/protocol_name.rs
  nomos-services/blend/src/core/backends/libp2p/behaviour.rs
  nomos-services/blend/src/core/backends/libp2p/settings.rs
  tests/src/topology/configs/blend.rs
Labels: blend, chore

#1562 test(blend): add core and edge swarm tests
  dependencies_graph.dot
  nomos-blend/message/src/encap.rs
  nomos-blend/message/src/input.rs
  nomos-blend/network/Cargo.toml
  nomos-blend/network/src/core/tests/utils.rs
  nomos-blend/network/src/core/with_core/behaviour/handler/conn_maintenance.rs
  nomos-blend/network/src/core/with_core/behaviour/handler/mod.rs
  nomos-blend/network/src/core/with_core/behaviour/handler/tokio.rs
  nomos-blend/network/src/core/with_core/behaviour/mod.rs
  nomos-blend/network/src/lib.rs
  nomos-blend/scheduling/src/message_blend/crypto.rs
  nomos-services/blend/Cargo.toml
  nomos-services/blend/src/core/backends/libp2p/behaviour.rs
  nomos-services/blend/src/core/backends/libp2p/mod.rs
  nomos-services/blend/src/core/backends/libp2p/swarm.rs
  nomos-services/blend/src/core/backends/libp2p/tests/message_handling.rs
  nomos-services/blend/src/core/backends/libp2p/tests/mod.rs
  nomos-services/blend/src/core/backends/libp2p/tests/network_maintenance.rs
  nomos-services/blend/src/core/backends/libp2p/tests/redials.rs
  nomos-services/blend/src/core/backends/libp2p/tests/utils.rs
  nomos-services/blend/src/core/backends/libp2p/tokio_provider.rs
  nomos-services/blend/src/edge/backends/libp2p/mod.rs
  nomos-services/blend/src/edge/backends/libp2p/swarm.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/message_handling.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/mod.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/redials.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/utils.rs
  nomos-services/blend/src/lib.rs
  nomos-services/blend/src/test_utils/libp2p.rs
  nomos-services/blend/src/test_utils/mod.rs
Labels: test, blend

#1582 fix(blend): post-rebase issues
  nodes/nomos-node/node/src/config/blend.rs
  nomos-services/blend/src/core/backends/libp2p/tests/utils.rs
  nomos-services/blend/src/edge/backends/libp2p/mod.rs
  nomos-services/blend/src/edge/backends/libp2p/settings.rs
  nomos-services/blend/src/edge/backends/libp2p/swarm.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/utils.rs
  nomos-services/blend/src/test_utils/libp2p.rs
Labels: blend, fix

#1584 fix(da): Remove rwlock from mempool publish trigger
  nomos-services/data-availability/verifier/src/backend/trigger.rs
  nomos-services/data-availability/verifier/src/lib.rs
Labels: da, fix

#1588 chore(blend): merge header into public header
  nomos-blend/message/src/encap.rs
  nomos-blend/message/src/message.rs
  nomos-blend/network/src/core/tests/utils.rs
Labels: blend, chore

#1579 feat(ledger): Mantle SDP ledger definition
  ledger/nomos-ledger/src/mantle/mod.rs
  ledger/nomos-ledger/src/mantle/sdp.rs
  nodes/nomos-node/node/src/generic_services.rs
  nomos-core/chain-defs/src/sdp/mod.rs
  nomos-core/chain-defs/src/sdp/state.rs
  nomos-sdp/src/lib.rs
  nomos-services/membership/src/adapters/sdp.rs
  nomos-services/membership/src/backends/mock.rs
  nomos-services/sdp/Cargo.toml
  nomos-services/sdp/src/adapters/declaration/mod.rs
  nomos-services/sdp/src/adapters/declaration/repository.rs
  nomos-services/sdp/src/adapters/mod.rs
  nomos-services/sdp/src/adapters/services/mod.rs
  nomos-services/sdp/src/adapters/services/services_repository.rs
  nomos-services/sdp/src/backends/ledger.rs
  nomos-services/sdp/src/backends/mock.rs
  nomos-services/sdp/src/backends/mod.rs
  nomos-services/sdp/src/lib.rs
  tests/src/tests/membership/api.rs
  tests/src/tests/membership/disperse.rs
Labels: feature, ledger

#1583 feat(da): Commitments over sampling protocol fixes and integration test
  nodes/api-common/src/paths.rs
  nodes/nomos-executor/config.yaml
  nodes/nomos-executor/executor/src/api/backend.rs
  nodes/nomos-executor/http-client/src/lib.rs
  nodes/nomos-node/config.yaml
  nodes/nomos-node/http-client/src/lib.rs
  nodes/nomos-node/node/src/api/backend.rs
  nodes/nomos-node/node/src/api/handlers.rs
  nomos-core/chain-defs/src/mantle/ops/channel/blob.rs
  nomos-services/api/src/http/da.rs
  nomos-services/data-availability/network/src/api/http.rs
  nomos-services/data-availability/network/src/backends/libp2p/common.rs
  nomos-services/data-availability/network/src/backends/libp2p/executor.rs
  nomos-services/data-availability/network/src/backends/libp2p/validator.rs
  nomos-services/data-availability/network/src/lib.rs
  nomos-services/data-availability/sampling/src/lib.rs
  nomos-services/data-availability/sampling/src/network/adapters/common.rs
  nomos-services/data-availability/sampling/src/network/adapters/executor.rs
  nomos-services/data-availability/sampling/src/network/adapters/validator.rs
  nomos-services/data-availability/sampling/src/network/mod.rs
  tests/src/nodes/executor.rs
  tests/src/nodes/validator.rs
  tests/src/tests/da/api.rs
  tests/src/tests/da/disperse.rs
Labels: da, feature, da-network

#1593 feat(blend): introduce redundancy factor for edge nodes
  nodes/nomos-node/node/src/config/blend.rs
  nomos-services/blend/src/edge/backends/libp2p/settings.rs
  nomos-services/blend/src/edge/backends/libp2p/swarm.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/message_handling.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/redials.rs
  nomos-services/blend/src/edge/backends/libp2p/tests/utils.rs
Labels: blend, feature

#1590 feat(zk): Use poseidon2 for hashes
  Cargo.toml
  dependencies_graph.dot
  ledger/nomos-ledger/Cargo.toml
  ledger/nomos-ledger/src/cryptarchia/mod.rs
  ledger/nomos-ledger/src/lib.rs
  ledger/nomos-ledger/src/mantle/channel.rs
  ledger/nomos-ledger/src/mantle/mod.rs
  nodes/nomos-node/node/Cargo.toml
  nodes/nomos-node/node/src/config/mod.rs
  nomos-core/chain-defs/Cargo.toml
  nomos-core/chain-defs/src/block/builder.rs
  nomos-core/chain-defs/src/crypto.rs
  nomos-core/chain-defs/src/mantle/keys.rs
  nomos-core/chain-defs/src/mantle/ledger.rs
  nomos-core/chain-defs/src/mantle/merkle.rs
  nomos-core/chain-defs/src/mantle/mock.rs
  nomos-core/chain-defs/src/mantle/mod.rs
  nomos-core/chain-defs/src/mantle/ops/channel/blob.rs
  nomos-core/chain-defs/src/mantle/ops/channel/inscribe.rs
  nomos-core/chain-defs/src/mantle/ops/channel/set_keys.rs
  nomos-core/chain-defs/src/mantle/ops/leader_claim.rs
  nomos-core/chain-defs/src/mantle/ops/mod.rs
  nomos-core/chain-defs/src/mantle/ops/native.rs
  nomos-core/chain-defs/src/mantle/select.rs
  nomos-core/chain-defs/src/mantle/tx.rs
  nomos-core/chain-defs/src/proofs/leader_proof.rs
  nomos-core/chain-defs/src/sdp/mod.rs
  nomos-core/proof_statements/Cargo.toml
  nomos-core/proof_statements/src/leadership.rs
  nomos-core/proof_statements/src/zksig.rs
  nomos-da/network/messages/Cargo.toml
  nomos-da/network/messages/src/replication.rs
  nomos-services/chain-service/Cargo.toml
  nomos-services/chain-service/src/leadership.rs
  nomos-services/chain-service/src/states.rs
  nomos-services/chain-service/src/sync/block_provider.rs
  tests/Cargo.toml
  tests/src/topology/configs/consensus.rs
  utxotree/Cargo.toml
  utxotree/src/lib.rs
  utxotree/src/merkle.rs
  utxotree/src/test_fr.rs
  zk/groth16/Cargo.toml
  zk/groth16/src/lib.rs
  zk/groth16/src/serde.rs
  zk/poseidon2/src/hasher.rs
  zk/poseidon2/src/lib.rs
Labels: feature, zk
